@using Microsoft.AspNetCore.Authorization;
@using Unity.Flex.Web.Views.Shared.Components.WorksheetInstanceWidget
@using Unity.GrantManager.Flex
@using Unity.GrantManager.Localization
@using Microsoft.Extensions.Localization
@using Unity.GrantManager.Permissions;
@using Unity.GrantManager.Web.Views.Shared.Components.AssessmentResults;
@using Unity.Modules.Shared.Correlation
@using Volo.Abp.Features

@inject IAuthorizationService AuthorizationService
@inject IStringLocalizer<GrantManagerResource> L
@inject IFeatureChecker FeatureChecker
@model AssessmentResultsPageModel

<input type="hidden" id="AssessmentResultViewApplicationId" value="@Model.ApplicationId" />
<input type="hidden" id="AssessmentResultViewApplicationFormVersionId" value="@Model.ApplicationFormVersionId" />

<abp-row class="px-1 pb-2 mb-4 assessment-results-container">
    <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2">
        <div id="AssessementResultsTitleRegion" class="d-flex align-items-stretch justify-content-start">
            <h6 class="ps-1 fw-bold">@L["AssessmentResultsView:AssessmentResultsTitle"].Value</h6>
        </div>
        <abp-button text="Save" id="saveAssessmentResultBtn" class="floating-save-btn"
                    icon-type="Other" icon="fl fl-save" button-type="Primary" disabled="true" />
    </abp-column>
    <form id="assessmentResultForm">
        <abp-row class="m-0 assessment-result-form">
            <abp-column size="_12" class="px-0">
                <abp-row class="m-0">
                    <abp-column size="_3" class="px-1">
                        <div class="unity-input-group">
                            <span class="unity-input-prepend">$</span>
                            <abp-input asp-for="@Model.AssessmentResults.RequestedAmount" id="RequestedAmountInputAR"
                                       onchange="enableResultSaveBtn(this)" class="unity-currency-input" disabled="@(!Model.IsPostEditFieldsAllowed)" />
                        </div>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <div class="unity-input-group">
                            <span class="unity-input-prepend">$</span>
                            <abp-input asp-for="@Model.AssessmentResults.TotalProjectBudget" id="TotalBudgetInputAR"
                                       onchange="enableResultSaveBtn(this)" class="unity-currency-input" />
                        </div>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <div class="unity-input-group">
                            <span class="unity-input-prepend">$</span>
                            <abp-input asp-for="@Model.AssessmentResults.RecommendedAmount"
                                       onchange="enableResultSaveBtn(this)" class="unity-currency-input" disabled="@(!Model.IsEditGranted)" />
                        </div>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <div class="unity-input-group">
                            <span class="unity-input-prepend">$</span>
                            <abp-input asp-for="@Model.AssessmentResults.ApprovedAmount"
                                       onchange="enableResultSaveBtn(this)" class="unity-currency-input" id="approvedAmountInput" disabled="@(!Model.IsPostEditFieldsAllowed)" />
                        </div>
                    </abp-column>
                </abp-row>
                <abp-row class="m-0">
                    <abp-column size="_3" class="px-1">
                        <abp-select asp-for="@Model.AssessmentResults.LikelihoodOfFunding" asp-items="@Model.FundingRiskList"
                                    onchange="enableResultSaveBtn(this)">
                            <option value="">Please choose...</option>
                        </abp-select>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <abp-select asp-for="@Model.AssessmentResults.RiskRanking" asp-items="@Model.RiskRankingList"
                                    onchange="enableResultSaveBtn(this)" disabled="@(!Model.IsEditGranted)">
                            <option value="">Please choose...</option>
                        </abp-select>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <abp-select asp-for="@Model.AssessmentResults.DueDiligenceStatus" asp-items="@Model.DueDiligenceList"
                                    onchange="enableResultSaveBtn(this)" disabled="@(!Model.IsEditGranted)">
                            <option value="">Please choose...</option>
                        </abp-select>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <abp-select asp-for="@Model.AssessmentResults.SubStatus" asp-items="@Model.SubStatusActionList"
                                    onchange="enableResultSaveBtn(this)">
                            <option value="">Please choose...</option>
                        </abp-select>
                    </abp-column>
                   
                </abp-row>
                   <abp-row class="m-0">
                    <abp-column size="_3" class="px-1">
                        <abp-input type="number" asp-for="@Model.AssessmentResults.TotalScore"
                                   onchange="enableResultSaveBtn(this)" disabled="@(!Model.IsPostEditFieldsAllowed)" min="0" max="2147483647" />
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <abp-select asp-for="@Model.AssessmentResults.AssessmentResultStatus" asp-items="@Model.AssessmentResultStatusList"
                                    onchange="enableResultSaveBtn(this)" disabled="@(!Model.IsEditGranted)">
                            <option value="">Please choose...</option>
                        </abp-select>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <abp-select asp-for="@Model.AssessmentResults.DeclineRational" asp-items="@Model.DeclineRationalActionList"
                                    onchange="enableResultSaveBtn(this)" disabled="@(!Model.IsEditGranted)">
                            <option value="">Please choose...</option>
                        </abp-select>
                    </abp-column>
                   </abp-row>
                <abp-row class="m-0">
                    <abp-column size="_3" class="px-1">
                        <abp-input type="date" asp-for="@Model.AssessmentResults.NotificationDate" onchange="validateNotificationDate();" abp-data-datepicker="false">
                        </abp-input>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <abp-input type="date" asp-for="@Model.AssessmentResults.FinalDecisionDate" onchange="validateDecisionDate();" disabled="@(!Model.IsEditGranted)" abp-data-datepicker="false">
                        </abp-input>
                    </abp-column>
                    <abp-column size="_3" class="px-1">
                        <abp-input type="date" asp-for="@Model.AssessmentResults.DueDate" onchange="validateDueDate();" abp-data-datepicker="false">
                        </abp-input>
                    </abp-column>
                </abp-row>
                <abp-row class="m-0">
                    <abp-column size="_9" class="px-1">
                        <abp-input asp-for="@Model.AssessmentResults.Notes"
                                   onchange="enableResultSaveBtn(this)" />
                    </abp-column>
                </abp-row>
            </abp-column>
            
        </abp-row>

        @if (await FeatureChecker.IsEnabledAsync("Unity.Flex"))
        {
            <div id="assessmentResultsCustomWidget">
             @await Component.InvokeAsync(typeof(WorksheetInstanceWidget),
                     new
                     {
                         instanceCorrelationId = Model.ApplicationId,
                         instanceCorrelationProvider = CorrelationConsts.Application,
                         sheetCorrelationId = Model.ApplicationFormVersionId,
                         sheetCorrelationProvider = CorrelationConsts.FormVersion,
                         uiAnchor = FlexConsts.AssessmentInfoUiAnchor
                     })
            </div>
        }

    </form>
</abp-row>


<script defer>
    (function () {
        if (window.jQuery) {
            $('.unity-currency-input').maskMoney();
        }
    })();
</script>
