@page
@using Volo.Abp.Users
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages
@model Unity.GrantManager.Web.Pages.IndexModel
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}

@inject IPageLayout PageLayout

@{

    PageLayout.Content.Title = "Home";

    List<PageSection> PageSections = new List<PageSection>();


    PageSections.Add(new PageSection() { Id = 1, Title = "Discover Unity's Journey" });
    PageSections.Add(new PageSection() { Id = 2, Title = "How to use Unity Grant Manager" });
    PageSections.Add(new PageSection() { Id = 3, Title = "Create a new Application Form", Url = "https://submit.digital.gov.bc.ca/app/" });
    PageSections.Add(new PageSection() { Id = 4, Title = "Access Grant Programs", Url = "/GrantPrograms" });
    PageSections.Add(new PageSection() { Id = 5, Title = "Review Current Applications", Url = "/GrantApplications" });
    PageSections.Add(new PageSection() { Id = 6, Title = "Tools for Creating Forms" });
}


@if (CurrentUser.IsAuthenticated)
{
    <form asp-page-handler="cancel" method="post" style="position: absolute; right: 25px; top: 25px;">
        <button class="btn btn-default">Logout</button>
    </form>
}

<div class="home-container">
    <div class="unity-banner-contanier">
        <div class="gradient-blue">
        </div>

        <div class="banner-title">
            Unity Grant Management
        </div>

        <div class="banner-desc">
            Introducing Unity Grant Management, a customizable platform simplifying grant management for the Province of BC. Supporting application design and development, enhancing assessments, and streamlining payment and reporting processes, Unity empowers Ministries with an intuitive, efficient solution to achieve grant program objectives.
        </div>

        <div class="banner-bg">
            <img src="/images/splash.png" alt="landing-page-img">
        </div>
    </div>

    <div class="unity-content-container">
        <div class="col-3">
            <div class="landing-navigation" action="">
                @foreach (var item in PageSections)
                {                                        
                    <div class="landing-navigation-child" data-id="@item.Id">
                    <div class="landing-navigation-child-indicator"></div>
                        @if (item.Url.IsNullOrEmpty())
                        {
                            @item.Title
                        }
                        else
                        {
                            var target = item.UrlTarget ?? "_self";

                            <a target="@target" href="@item.Url">@item.Title</a>
                        }

                    </div>
                }
            </div>
        </div>
        <div class="col-9">
            <div class="unity-content-title">
                What is Unity Grant Manager?
            </div>
            <div class="unity-content">
                Your all-in-one solution for seamless grant management. Unity Grant Manager has been developed as a comprehensive and user-friendly platform designed to optimize the entire lifecycle of grant management and funding initiatives. Equipped with a robust toolkit, it guides you through each stage of the process—from initial application handling to oversight of post-award reporting. Unity Grant Manager is your partner for efficient and effective grant management.
            </div>
        </div>
    </div>
</div>
