@page
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.ApplicationForms
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.ApplicationForms";
    PageLayout.Content.Title = L["ApplicationForms"].Value;
    ViewBag.PageTitle = "ApplicationForms";
}
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/ApplicationForms/Index.css" />
        <abp-style src="/Pages/ApplicationForms/TokenModal.css" />        
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/ApplicationForms/Index.js" />
        <abp-script src="/Pages/ApplicationForms/TokenModal.js" />
    </abp-script-bundle>
}

<div class="container-fluid px-0">
    <div class="unity-page-titlebar">
        <h4>@L["ApplicationForms"]</h4>
        <div class="d-flex">
            <abp-button id="CreateApplicationFormButton"
                text="@L["Common:Command:Create"].Value"
                icon-type="Other"
                icon="fl fl-add-to"
                button-type="Light" class="me-2" />
            <abp-dropdown id="FormsManageDropdown">
                <abp-dropdown-button button-type="Secondary" text="@L["ApplicationForms:APIConfiguration"].Value" icon-type="Other" icon="fl fl-settings" />
                <abp-dropdown-menu>
                    <abp-dropdown-item id="SetApiTokenBtn">@L["ApplicationForms:UpdateAPIToken"].Value</abp-dropdown-item>
                    <abp-dropdown-item id="GetApiTokenBtn">@L["ApplicationForms:DownloadAPIConfiguration"].Value</abp-dropdown-item>
                </abp-dropdown-menu>
            </abp-dropdown>
        </div>
    </div>
    <div class="p-3">
        <abp-table id="ApplicationFormsTable"></abp-table>
    </div>
</div>
