@page
@using Microsoft.Extensions.Localization
@using Unity.Flex.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model Unity.GrantManager.Web.Pages.ApplicationForms.LinkWorksheetModalModel

@inject IStringLocalizer<FlexResource> L

@{
    Layout = null;
}

<form method="post" asp-page-handler="OnPostAsync" id="formInfo">
    <abp-input type="hidden" id="ChefsFormVersionId" asp-for="@Model.ChefsFormVersionId" />
    <abp-input type="hidden" id="AssessmentInfoSlotId" asp-for="@Model.AssessmentInfoSlotId" />
    <abp-input type="hidden" id="ApplicantInfoSlotId" asp-for="@Model.ApplicantInfoSlotId" />
    <abp-input type="hidden" id="ProjectInfoSlotId" asp-for="@Model.ProjectInfoSlotId" />
    <abp-input type="hidden" id="PaymentInfoSlotId" asp-for="@Model.PaymentInfoSlotId" />
    <abp-input type="hidden" id="CustomTabsSlotIds" asp-for="@Model.CustomTabsSlotIds" />
    <abp-modal size="ExtraLarge" id="worksheet-info-modal">
        <abp-modal-header class="site-info-modal-header" title="Link Worksheets"></abp-modal-header>
        <abp-modal-body>
            <div class="drop-layout">
                <div class="published-forms-col">
                    <div class="slot-title">Available Worksheets:</div>
                    <div class="available-worksheets drag-target multi-target" draggable="false" data-target="worksheets">
                        @foreach (var worksheet in Model.PublishedWorksheets!)
                        {
                            <div class="published-form draggable-card" draggable="true" data-worksheet-id="@worksheet.Id">
                                <span class="published-form-title">
                                    @worksheet.Title (@worksheet.Name)
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="slots-col">
                    <div class="slot-title">Assessment Info:</div>
                    <div class="single-slot drag-target single-target" draggable="false" data-target="assessmentInfo">
                        @if (Model.AssessmentInfoLink != null)
                        {
                            <div class="draggable-card" draggable="true" data-worksheet-id="@Model.AssessmentInfoLink.WorksheetId">
                                <span class="published-form-title">
                                    @Model.AssessmentInfoLink.Worksheet.Title (@Model.AssessmentInfoLink.Worksheet.Name)
                                </span>
                            </div>
                        }
                    </div>                    
                    <div class="slot-title">Project Info:</div>
                    <div class="single-slot drag-target single-target" draggable="false" data-target="projectInfo">
                        @if (Model.ProjectInfoLink != null)
                        {
                            <div class="draggable-card" draggable="true" data-worksheet-id="@Model.ProjectInfoLink.WorksheetId">
                                <span class="published-form-title">
                                    @Model.ProjectInfoLink.Worksheet.Title (@Model.ProjectInfoLink.Worksheet.Name)
                                </span>
                            </div>
                        }
                    </div>
                    <div class="slot-title">Applicant Info:</div>
                    <div class="single-slot drag-target single-target" draggable="false" data-target="applicantInfo">
                        @if (Model.ApplicantInfoLink != null)
                        {
                            <div class="draggable-card" draggable="true" data-worksheet-id="@Model.ApplicantInfoLink.WorksheetId">
                                <span class="published-form-title">
                                    @Model.ApplicantInfoLink.Worksheet.Title (@Model.ApplicantInfoLink.Worksheet.Name)
                                </span>
                            </div>
                        }
                    </div>
                    <div class="slot-title">Payment Info:</div>
                    <div class="single-slot drag-target single-target" draggable="false" data-target="paymentInfo">
                        @if (Model.PaymentInfoLink != null)
                        {
                            <div class="draggable-card" draggable="true" data-worksheet-id="@Model.PaymentInfoLink.WorksheetId">
                                <span class="published-form-title">
                                    @Model.PaymentInfoLink.Worksheet.Title (@Model.PaymentInfoLink.Worksheet.Name)
                                </span>
                            </div>
                        }
                    </div>
                    <div class="slot-title">Additional Tabs:</div>
                    <div class="multi-slot drag-target multi-target custom-tabs-list" draggable="false" data-target="custom-tabs">
                        @if (Model.CustomTabLinks != null)
                        {
                            @foreach (var customTab in Model.CustomTabLinks)
                            {
                                <div class="draggable-card" draggable="true" data-worksheet-id="@customTab.WorksheetId">
                                    <span class="published-form-title">
                                        @customTab.Worksheet.Title (@customTab.Worksheet.Name)
                                    </span>
                                </div>
                            }                            
                        }
                    </div>
                </div>
            </div>
            <div class="save-note">
                <p>
                    <b>Note:</b> Saving will cause the mapping screen to refresh, please make sure you have saved all your mapping changes.
                </p>
            </div>
        </abp-modal-body>
        <abp-modal-footer>
            <button type="submit" class="btn btn-primary">@AbpModalButtons.Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@AbpModalButtons.Cancel</button>
        </abp-modal-footer>
    </abp-modal>
</form>


