@page
@using Unity.GrantManager.ApplicationForms
@using Unity.Reporting.Permissions
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Unity.GrantManager.Web.Pages.ApplicationForms;
@using Unity.GrantManager.Permissions;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Volo.Abp.Authorization.Permissions;
@using Unity.GrantManager.Web.Views.Shared.Components.ApplicationFormConfigWidget;
@using Volo.Abp.Features

@model MappingModel
@inject IPageLayout PageLayout
@inject IPermissionChecker PermissionChecker
@inject IFeatureChecker FeatureChecker

@{
    PageLayout.Content.MenuItemName = "GrantManager.ApplicationForms";
    PageLayout.Content.Title = "Application Mapping";
    ViewBag.PageTitle = "Application Forms Mapping";
}
@section scripts
{
    <abp-script src="/Pages/ApplicationForms/Mapping.js" />
    <abp-script src="/Pages/SettingManagement/zone-management.js" />
}

@section styles {
    <abp-style src="/Pages/ApplicationForms/Mapping.css" />
}

<input type="hidden" id="intakeProperties" value="@Model.IntakeProperties" />
<input type="hidden" id="applicationFormVersionDtoString" value="@Model.ApplicationFormVersionDtoString" />
<input type="hidden" id="availableChefsFields" value="@Model.ApplicationFormVersionDto?.AvailableChefsFields" />
<input type="hidden" id="existingMapping" value="@Model.ApplicationFormVersionDto?.SubmissionHeaderMapping" />
<input type="hidden" id="formVersionId" value="@Model.ApplicationFormVersionDto?.Id" />
<input type="hidden" id="applicationFormId" value="@Model.ApplicationFormDto?.Id" />
<input type="hidden" id="chefsFormId" value="@Model.ApplicationFormDto?.ChefsApplicationFormGuid" />
<input type="hidden" id="formName" value="@Model.ApplicationFormDto?.ApplicationFormName" />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h5 class="label unt-label">@Model.ApplicationFormDto?.ApplicationFormName</h5>
        </div>
    </div>
    <!--Tab list -->
    <nav aria-label="Application form configuration tabs">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-mapping-tab" data-bs-toggle="tab" data-bs-target="#nav-mapping" type="button" role="tab">
                Mapping
            </button>
            <button class="nav-link" id="nav-custom-fields-tab" data-bs-toggle="tab" data-bs-target="#nav-custom-fields" type="button" role="tab">
                Scoresheet & Worksheets
            </button>
            @if (await PermissionChecker.IsGrantedAsync(UnitySettingManagementPermissions.UserInterface))
            {
                <button class="nav-link" id="nav-ui-configuration-tab" data-bs-toggle="tab" data-bs-target="#nav-ui-configuration" type="button" role="tab">
                    User Interface
                </button>
            }
            @if (await FeatureChecker.IsEnabledAsync("Unity.Payments"))
            {
                <button class="nav-link" id="nav-payment-configuration-tab" data-bs-toggle="tab" data-bs-target="#nav-payment-configuration" type="button" role="tab">
                    Payment
                </button>
            }
            @if (await FeatureChecker.IsEnabledAsync("Unity.Reporting")
                        && await PermissionChecker.IsGrantedAsync(ReportingPermissions.Configuration.Default))
            {
                <button class="nav-link" id="nav-reporting-configuration-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-reporting-configuration" type="button" role="tab">Reporting Configuration</button>
            }
            <button class="nav-link" id="nav-other-configuration-tab" data-bs-toggle="tab"
                data-bs-target="#nav-other-configuration" type="button" role="tab">Other Configuration</button>
        </div>
    </nav>
    <div class="tab-content unt-tab-content" id="nav-tabContent">
        <!--Tab Content: Mapping-->
        <div class="tab-pane fade show active" id="nav-mapping" role="tabpanel" aria-labelledby="nav-mapping-tab">
            <input type="hidden" id="refresh_available_worksheets" value="" />
            <div class="row">
                <div class="col-4 p-3">
                    <label for="applicationFormVersion" class="form-label">Version:</label>
                    <div class="select-icon-wrapper">
                        <select class="form-select form-control" id="applicationFormVersion" name="Version">
                            @foreach (var applicationFormVersionDto in Model?.ApplicationFormVersionDtoList ?? new
                                                        List<ApplicationFormVersionDto>
                            { })
                            {
                                @if (@applicationFormVersionDto.ChefsFormVersionGuid + "" != "")
                                {
                                    var selected = false;
                                    @if (Model?.ChefsFormVersionGuid + "" == applicationFormVersionDto.ChefsFormVersionGuid)
                                    {
                                        selected = true;
                                    }

                                    <option value="@applicationFormVersionDto.ChefsFormVersionGuid" selected="@(selected)">
                                        @applicationFormVersionDto.Version - @applicationFormVersionDto.ChefsFormVersionGuid
                                    </option>
                                }
                            }
                        </select>
                        @if (Model?.ApplicationFormVersionDto?.Published == true)
                        {
                            <i class="fl fl-tick published-tick" data-toggle="tooltip" title="This form is published"></i>
                        }
                    </div>
                </div>
                <div class="col-4 p-3">
                    <label for="chefsFormVersionId" class="form-label">Form Version ID:</label>
                    <div class="input-button-wrapper ">
                        <input id="chefsFormVersionId" class="form-control input-width" type="text"
                            value="@Model?.ChefsFormVersionGuid">
                        <abp-button id="btn-sync" text="Sync" disabled="false" icon-type="Other" icon="fl fl-synch"
                            class="btn unt-btn-success btn-success"
                            abp-tooltip="Call out to CHEFS and bring back all the Available CHEFS form Fields. This action requires a Form Version ID to be entered"
                            button-type="Success" />
                    </div>
                </div>
            </div>
            <div class="unt-mapping-container">
                <div class="row">
                    <div class="col-8">
                        <div class="label table-title">Chefs Fields</div>
                    </div>
                    <div class="col-4">
                        <!--Tab list 2-->
                        <nav aria-label="Field mapping tabs">
                            <div class="nav nav-tabs" role="tablist">
                                <button class="nav-link active" id="nav-intake-fields-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-intake-fields" type="button" role="tab">Core Fields</button>
                                <button class="nav-link" id="nav-worksheet-fields-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-worksheet-fields" type="button" role="tab">Custom
                                    Fields</button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="application-forms-table-content">
                            <abp-table id="ApplicationFormsTable" class="chef-field-table table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="Column">CHEFS Label</th>
                                        <th scope="Column">CHEFS Property Name</th>
                                        <th scope="Column">CHEFS Type</th>
                                        <th scope="Column">Map To Unity</th>
                                    </tr>
                                </thead>
                            </abp-table>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="tab-content unt-tab-content" id="nav-tabContent">
                            <!--Tab Content: Mapping-->
                            <div class="tab-pane fade show active" id="nav-intake-fields" role="tabpanel"
                                aria-labelledby="nav-intake-fields-tab">

                                <div class="intake-mapping-content">
                                    <div id="intake-map-available-fields-column" class="col" style="overflow-y:scroll">
                                    </div>
                                </div>
                            </div>
                            <!--Tab Content: Worksheet Fields-->
                            <div class="tab-pane fade" id="nav-worksheet-fields" role="tabpanel"
                                aria-labelledby="nav-worksheet-fields-tab">
                                <div class="worksheet-mapping-content">
                                    <div id="worksheet-map-available-fields-column" class="col"
                                        style="overflow-y:scroll">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="buttons">
                        <div class="buttons-div">
                            <abp-button id="btn-save" text="Save" icon-type="Other"
                                class="btn unt-btn-primary btn-primary mx-1" style="pointer-events: all;"
                                abp-tooltip="Save the Scoresheet and the Mapping of CHEFS fields to Unity Fields"
                                button-type="Primary" />
                            <abp-button id="btn-edit" text="Edit Mapping" icon-type="Other" data-target="#editMappingModal"
                                icon="fl fl-edit" class="btn unt-btn-primary btn-primary mx-1" data-toggle="modal"
                                style="pointer-events: all;" abp-tooltip="Edit the Mapping JSON Manually"
                                button-type="Primary" />
                            <abp-button id="btn-reset" text="Reset Mapping" icon-type="Other" icon="fl fl-undo"
                                class="btn unt-btn-outline-primary btn-outline-primary mx-1"
                                abp-tooltip="This button resets the mapping to the last saved state" />
                            <abp-button id="btn-back" text="Back"
                                class="btn unt-btn-outline-primary btn-outline-primary mx-1"
                                abp-tooltip="Navigate back to the Forms" />
                        </div>
                    </div>
                </div>
            </div>        
        </div>      

        <!--Tab Content: Worksheets-->
        @if (Model?.FlexEnabled == true)
        {
            <div class="tab-pane fade" id="nav-custom-fields" role="tabpanel" aria-labelledby="nav-custom-fields-tab">
                <div id="customFieldsWidget">
                    @await Component.InvokeAsync("CustomFields", 
                        new {   formVersionId = @Model?.ApplicationFormVersionDto?.ChefsFormVersionGuid, 
                                formName = @Model?.ApplicationFormDto?.ApplicationFormName 
                            }
                    )
                </div>
            </div>
        }

        <!--Tab Content: UI Configuration loaded by initializeUIConfiguration-->
        <div class="tab-pane fade" id="nav-ui-configuration" role="tabpanel" aria-labelledby="nav-ui-configuration-tab"></div>

        @if (await FeatureChecker.IsEnabledAsync("Unity.Payments"))
        {
        <!--Tab Content: Payment Configuration-->
        <div class="tab-pane fade" id="nav-payment-configuration" role="tabpanel" aria-labelledby="nav-payment-configuration-tab">
            <div id="paymentConfigurationWidget">
                @await Component.InvokeAsync("PaymentConfiguration", new { formid = @Model?.ApplicationFormDto?.Id})
            </div>
        </div>
        }

        @if (await FeatureChecker.IsEnabledAsync("Unity.Reporting")
                && await PermissionChecker.IsGrantedAsync(ReportingPermissions.Configuration.Default))
        {
            <!--Tab Content: Reporting Configuration-->
            <div class="tab-pane fade" 
                 id="nav-reporting-configuration" 
                 role="tabpanel" 
                 aria-labelledby="nav-reporting-configuration-tab">
                @await Component.InvokeAsync("ReportingConfiguration", new { formid = @Model?.ApplicationFormDto?.Id })
            </div>
        }

        <!--Tab Content: Other Configuration-->
        <div class="tab-pane fade" id="nav-other-configuration" role="tabpanel"
            aria-labelledby="nav-other-configuration-tab">
            @await Component.InvokeAsync(typeof(ApplicationFormConfigWidget), new { configType = "Other",
            applicationForm = Model?.ApplicationFormDto })
        </div>
    </div>

    <abp-modal centered="true" scrollable="true" size="Large" id="editMappingModal">
        <abp-modal-header title="Edit Mapping JSON"></abp-modal-header>
        <abp-modal-body>
            <textarea id="jsonText" rows="15"
                cols="80">@Model?.ApplicationFormVersionDto?.SubmissionHeaderMapping</textarea>
        </abp-modal-body>
        <abp-modal-footer>
            <abp-button id="btn-save-mapping" text="Save Mapping JSON" icon-type="Other"
                class="btn unt-btn-primary btn-primary" abp-tooltip="Save the Mapping JSON" button-type="Primary" />
            <abp-button id="btn-cancel-mapping" text="Cancel" icon-type="Other" class="btn unt-btn-link btn-link"
                abp-tooltip="Cancel the Edit" button-type="Secondary" />
        </abp-modal-footer>
    </abp-modal>
</div>