@using Unity.Flex.Web.Views.Shared.Components.QuestionNumberWidget
@using Unity.Flex.Web.Views.Shared.Components.QuestionTextAreaWidget
@using Unity.Flex.Web.Views.Shared.Components.QuestionTextWidget
@using Unity.Flex.Web.Views.Shared.Components.QuestionYesNoWidget
@using Unity.Flex.Web.Views.Shared.Components.QuestionSelectListWidget
@using Unity.GrantManager.Web.Views.Shared.Components.AssessmentScoresWidget;
@using Unity.Flex.Scoresheets;
@using Unity.Flex;
@using Unity.Flex.Scoresheets.Enums;

@model AssessmentScoresWidgetViewModel
@{
    Layout = null;
}

@if (Model.Scoresheet != null)
{
    <abp-input type="hidden" id="AssessmentId" asp-for="@Model.AssessmentId" />
    <div class="container-fluid px-3" id="assessment-scoresheet">
        @if (Model.Scoresheet.Sections.Any())
        {
            <div class="d-flex justify-content-end mb-3 scoresheet-top-btn-group">
                <button type="button" class="btn unt-btn-outline-primary btn-outline-primary me-2" onclick="expandAllAccordions('assessment-scoresheet')"><i class="unt-icon-sm fa-solid fa-angles-down"></i>Expand All</button>
                <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" onclick="collapseAllAccordions('assessment-scoresheet')"><i class="unt-icon-sm fa-solid fa-angles-up"></i>Collapse All</button>
            </div>
        }
        <div>
            <div>
                <div class="accordion unt-accordion" id="scoresheetAccordion">
                    @if (Model.Scoresheet.Sections.Any())
                    {
                        var sectionNumber = 1;
                        @foreach (var sec in Model.Scoresheet.Sections.OrderBy(s => s.Order))
                        {
                            <div class="accordion-item unit-accordion-item my-2">
                                <form method="post" id="section-form-@sec.Id" onSubmit="return false;">
                                    <h2 class="accordion-header" id="heading-@sec.Id">
                                        <button id="section-button" class="accordion-button collapsed preview-btn unt-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@sec.Id" aria-expanded="true" aria-controls="collapse-@sec.Id">
                                            @sectionNumber. @sec.Name
                                        </button>
                                    </h2>
                                    <div id="collapse-@sec.Id" class="accordion-collapse collapse" aria-labelledby="heading-@sec.Id">
                                        <div class="accordion-body">
                                            <div class="accordion" id="questionsAccordion-@sec.Id">
                                                @if (sec.Fields != null && sec.Fields.Any())
                                                {
                                                    var questionNumber = 1;
                                                    @foreach (var question in sec.Fields.OrderBy(q => q.Order))
                                                    {
                                                        var convertedDefinition = question.Definition?.ConvertDefinition(question.Type);

                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="question-heading-@question.Id">
                                                                <button class="accordion-button collapsed unt-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-collapse-@question.Id" aria-expanded="true" aria-controls="question-collapse-@question.Id">
                                                                    @sectionNumber.@questionNumber @question.Label
                                                                    @if (question.Definition?.ConvertDefinition(question.Type)?.GetIsRequired() == true)
                                                                    {
                                                                        <span> *</span>
                                                                    }
                                                                </button>
                                                            </h2>
                                                            <div id="question-collapse-@question.Id" class="accordion-collapse collapse" aria-labelledby="question-heading-@question.Id">
                                                                <div class="accordion-body">
                                                                    <p>@question.Description</p>

                                                                    @switch (question.Type)
                                                                    {
                                                                        case QuestionType.Number:
                                                                            {
                                                                                @await Component.InvokeAsync(typeof(QuestionNumberWidget),
                                                                                         new
                                                                                         {
                                                                                             QuestionId = question.Id,
                                                                                             IsDisabled = Model.IsDisabled(),
                                                                                             Answer = Convert.ToDouble(string.IsNullOrEmpty(question.Answer) ? 0 : question.Answer),
                                                                                             Min = convertedDefinition?.GetMinValueOrNull(),
                                                                                             Max = convertedDefinition?.GetMaxValueOrNull(),
                                                                                             Required = convertedDefinition?.GetIsRequired(),
                                                                                             IsHumanConfirmed = question.IsHumanConfirmed,
                                                                                             AICitation = question.AICitation,
                                                                                             AIConfidence = question.AIConfidence
                                                                                         })
                                                                                break;
                                                                            }
                                                                        case QuestionType.YesNo:
                                                                            {
                                                                                @await Component.InvokeAsync(typeof(QuestionYesNoWidget), new
                                                                                    {
                                                                                        QuestionId = question.Id,
                                                                                        IsDisabled = Model.IsDisabled(),
                                                                                        Answer = question.Answer,
                                                                                        YesValue = convertedDefinition?.GetYesValueOrNull(),
                                                                                        NoValue = convertedDefinition?.GetNoValueOrNull(),
                                                                                        Required = convertedDefinition?.GetIsRequired(),
                                                                                        IsHumanConfirmed = question.IsHumanConfirmed,
                                                                                        AICitation = question.AICitation,
                                                                                        AIConfidence = question.AIConfidence
                                                                                    })
                                                                                break;
                                                                            }
                                                                        case QuestionType.Text:
                                                                            {
                                                                                @await Component.InvokeAsync(typeof(QuestionTextWidget), new
                                                                                    {
                                                                                        QuestionId = question.Id,
                                                                                        IsDisabled = Model.IsDisabled(),
                                                                                        Answer = question.Answer,
                                                                                        MinLength = convertedDefinition?.GetMinLengthValueOrNull(),
                                                                                        MaxLength = convertedDefinition?.GetMaxLengthValueOrNull(),
                                                                                        Required = convertedDefinition?.GetIsRequired(),
                                                                                        IsHumanConfirmed = question.IsHumanConfirmed,
                                                                                        AICitation = question.AICitation,
                                                                                        AIConfidence = question.AIConfidence
                                                                                    })
                                                                                break;
                                                                            }
                                                                        case QuestionType.SelectList:
                                                                            {
                                                                                @await Component.InvokeAsync(typeof(QuestionSelectListWidget), new
                                                                                    {
                                                                                        QuestionId = question.Id,
                                                                                        IsDisabled = Model.IsDisabled(),
                                                                                        Answer = question.Answer,
                                                                                        Definition = question.Definition,
                                                                                        Required = convertedDefinition?.GetIsRequired(),
                                                                                        IsHumanConfirmed = question.IsHumanConfirmed,
                                                                                        AICitation = question.AICitation,
                                                                                        AIConfidence = question.AIConfidence
                                                                                    })
                                                                                break;
                                                                            }
                                                                        case QuestionType.TextArea:
                                                                            {
                                                                                @await Component.InvokeAsync(typeof(QuestionTextAreaWidget), new
                                                                                    {
                                                                                        QuestionId = question.Id,
                                                                                        IsDisabled = Model.IsDisabled(),
                                                                                        Answer = question.Answer,
                                                                                        MinLength = convertedDefinition?.GetMinLengthValueOrNull(),
                                                                                        MaxLength = convertedDefinition?.GetMaxLengthValueOrNull(),
                                                                                        Rows = convertedDefinition?.GetRowsOrZero(),
                                                                                        Required = convertedDefinition?.GetIsRequired(),
                                                                                        IsHumanConfirmed = question.IsHumanConfirmed,
                                                                                        AICitation = question.AICitation,
                                                                                        AIConfidence = question.AIConfidence
                                                                                    })
                                                                                break;
                                                                            }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        questionNumber++;
                                                    }
                                                }
                                                else
                                                {
                                                    <p>No questions available.</p>
                                                }
                                            </div>
                                        </div>
                                        <div class="btn-group mx-3 py-2">
                                            <button type="button" class="btn unt-btn-primary btn-primary mx-1 mb-2" disabled form="section-form-@sec.Id" id="scoresheet-section-save-@sec.Id" onclick="saveScoresSection('section-form-@sec.Id', '@sec.Id')">Save Changes</button>
                                            <button type="button" class="btn unt-btn-link btn-link mx-2 mb-2" disabled form="section-form-@sec.Id" id="scoresheet-section-discard-@sec.Id" onclick="discardChangesScoresSection('section-form-@sec.Id', '@sec.Id')">Discard Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            sectionNumber++;
                        }
                    }
                    else
                    {
                        <p>No sections available.</p>
                    }
                </div>
            </div>
            <div class="assessment-sum p-4">
                <label class="form-label" for="scoresheetSubtotal">Subtotal</label>
                <input type="number" size="18" class="form-control" disabled="disabled" name="ScoresheetSubtotal" id="scoresheetSubtotal" min="0" max="2147483647" />
            </div>
        </div>
    </div>
}
else
{
    <form id="assessmentScoresWidgetForm" action="Widgets/AssessmentScores/UpdateAssessmentScores" method="post" enctype="multipart/form-data">
        <div class="container-fluid px-3">
            <div class="scores-block-wrapper assessment-scores-container">
                <div class="scores-block">
                    <div class="scores-block-left">
                        <div class="scores-block-score">
                            <label class="form-label" for="financialAnalysis">Financial Analysis</label>
                            <input type="number" class="form-control" disabled="@Model.IsDisabled()" name="FinancialAnalysis" id="financialAnalysis" onkeyup="enableSaveButton(this)" onchange="enableSaveButton(this)" min="0" max="99" onkeydown="return positiveIntegersOnly(event);" value="@Model.FinancialAnalysis" />
                        </div>

                        <div class="scores-block-score">
                            <label class="form-label" for="inclusiveGrowth">Inclusive Growth</label>
                            <input type="number" class="form-control" disabled="@Model.IsDisabled()" name="InclusiveGrowth" id="inclusiveGrowth" onkeyup="enableSaveButton(this)" onchange="enableSaveButton(this)" min="0" max="99" onkeydown="return positiveIntegersOnly(event);" value="@Model.InclusiveGrowth" />
                        </div>
                    </div>

                    <div class="scores-block-right">
                        <div class="scores-block-score">
                            <label class="form-label" for="economicImpact">Economic Impact</label>
                            <input type="number" class="form-control" disabled="@Model.IsDisabled()" name="EconomicImpact" id="economicImpact" onkeyup="enableSaveButton(this)" onchange="enableSaveButton(this)" min="0" max="99" onkeydown="return positiveIntegersOnly(event);" value="@Model.EconomicImpact" />
                        </div>

                        <div class="scores-block-score">
                            <label class="form-label" for="CleanGrowth">Clean Growth</label>
                            <input type="number" class="form-control" disabled="@Model.IsDisabled()" name="CleanGrowth" id="cleanGrowth" onkeyup="enableSaveButton(this)" onchange="enableSaveButton(this)" min="0" max="99" onkeydown="return positiveIntegersOnly(event);" value="@Model.CleanGrowth" />
                        </div>
                    </div>
                </div>
                <div class="assessment-sum">
                    <label class="form-label" for="subTotal">Subtotal</label>
                    <input type="number" size="18" class="form-control" disabled="disabled" name="SubTotal" id="subTotal" value="@Model.ScoreTotal()" min="0" max="2147483647" />
                </div>
                <div class="scores-block-save">
                    <abp-button text="Save" type="button" id="saveAssessmentScoresBtn" disabled="true" onclick="saveAssessmentScores()" icon-type="Other" icon="fl fl-save" button-type="Light" />
                </div>
            </div>
        </div>
    </form>
}


