@using Unity.Flex.Web.Views.Shared.Components.QuestionTextWidget;

@model QuestionTextViewModel;

<div class="mb-3">
    <label for="answer-text-@Model.QuestionId" class="form-label">Answer</label>
    <input type="text" required="@Model.Required" class="form-control answer-text-input" 
        minlength="@Model.MinLength" 
        maxlength="@Model.MaxLength" 
        disabled="@Model.IsDisabled" 
        id="answer-text-@Model.QuestionId" 
        name="Answer-Text-@Model.QuestionId" 
        value="@Model.Answer" 
        data-original-value="@Model.Answer" 
        oninput="handleInputChange('@Model.QuestionId','answer-text-')" />
    <span id="error-message-@Model.QuestionId" class="text-danger field-validation-error"></span>
</div>