﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Unity.Payments.Localization;
@using Unity.Payments.Web.Views.Shared.Components.SupplierInfo;
@using Volo.Abp.Authorization.Permissions
@inject IHtmlLocalizer<PaymentsResource> L
@inject IPermissionChecker PermissionChecker
@model Unity.Payments.Web.Views.Shared.Components.SupplierInfo.SupplierInfoViewModel

<abp-row class="m-0 project-info-location">
    <abp-row class="m-0 p-0">
        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
            <div id="SupplierInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                <h6 class="ps-1 fw-bold">@L["ApplicantInfoView:SupplierInfoTitle"].Value</h6>
            </div>
        </abp-column>
    </abp-row>
    <abp-row>
        <abp-column class="spinner-loader">
            <div class="spinner-grow cas-spinner" role="status"></div>
            <span class="spinner-text cas-spinner">Retrieving CAS Supplier Information...</span>
        </abp-column>
    </abp-row>
    <abp-row class="m-0 p-0">
        <abp-column size="_12" class="px-1">
            <abp-input asp-for="@Model.SupplierCorrelationId" id="SupplierCorrelationId" type="hidden" />
            <abp-input asp-for="@Model.SupplierCorrelationProvider" id="SupplierCorrelationProvider" type="hidden" />
            <abp-input asp-for="@Model.SupplierId" id="SupplierId" type="hidden" />
            <abp-input asp-for="@Model.OriginalSupplierNumber" type="hidden" />
            <abp-row class="m-0 p-0">
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.SupplierNumber" id="SupplierNumber" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.SupplierName" id="SupplierName"/>
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.Status" id="Status"/>
                </abp-column>
            </abp-row>
        </abp-column>
    </abp-row>
    <abp-row>
        <abp-table id="SiteInfoTable" hoverable-rows="true" class="attachments-table"></abp-table>
    </abp-row>
</abp-row>
