@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.Extensions.Localization
@using Unity.GrantManager.Localization

@inject IStringLocalizer<GrantManagerResource> L
@model Unity.GrantManager.Web.Pages.SettingManagement.ZoneManagementModalModel
@{
    Layout = null;
}

<abp-script src="/Pages/SettingManagement/zone-management-modal.js" />

<form id="ZoneManagementForm" method="post" asp-page="/SettingManagement/ZoneManagementModal" data-script-class="abp.modals.ZoneManagement">
    <abp-modal id="ZoneManagementModal" size="ExtraLarge">
        <abp-modal-header title="User Interface Configuration"></abp-modal-header>
        <abp-modal-body>
            <input asp-for="@Model.ProviderKey" />
            <input asp-for="@Model.ProviderName" />
            <abp-tabs name="ZonesTabs" tab-style="Tab" class="custom-scroll-container">
                <abp-tab title="Application Details" name="tab-@Model.GroupTemplate.Name">
                    <div class="w-100" style="height: 500px;overflow-y: auto">
                        <div class="ps-1">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                @for (var i = 0; i < Model.GroupTemplate.Tabs.Count; i++)
                                {
                                    var tabGroup = Model.GroupTemplate.Tabs[i];
                                    <abp-column class="border-0">
                                        <div class="form-switch">
                                            <abp-input asp-for="@tabGroup.IsEnabled"
                                            abp-id-name="@Model.GroupTemplate.Tabs[i].IsEnabled"
                                            check-box-hidden-input-render-mode="CheckBoxHiddenInputRenderMode.None"
                                            label="@L[$"Setting:{tabGroup.Name}.DisplayName"].Value"
                                            class="fw-bold"
                                            group-data-zone-name="@tabGroup.Name" />
                                            <input asp-for="@tabGroup.Name" abp-id-name="@Model.GroupTemplate.Tabs[i].Name" hidden />
                                        </div>

                                        @for(var j = 0; j < tabGroup.Zones.Count; j++)
                                        {
                                            var zone = tabGroup.Zones[j];
                                            <div class="form-switch">
                                                <abp-input asp-for="@zone.IsEnabled"
                                                           abp-id-name="@Model.GroupTemplate.Tabs[i].Zones[j].IsEnabled"
                                                           check-box-hidden-input-render-mode="CheckBoxHiddenInputRenderMode.None"
                                                           label="@(L[$"Setting:{zone.Name}.DisplayName"].Value)"
                                                           group-data-zone-name="@zone.Name"
                                                           group-data-parent-name="@tabGroup.Name"
                                                           group-style="margin-inline-start: 25px"
                                                           disabled=@zone.IsConfigurationDisabled />

                                                <input asp-for="@zone.Name" abp-id-name="@Model.GroupTemplate.Tabs[i].Zones[j].Name" hidden />
                                            </div>
                                        }
                                    </abp-column>
                                }
                                </div>
                            </div>
                        </div>
                    </abp-tab>
                </abp-tabs> 
        </abp-modal-body>
        <abp-modal-footer>
            <abp-button button-type="Primary" type="submit"><i class="fa fa-check"></i> @L["Save"]</abp-button>
            <abp-button data-bs-dismiss="modal" button-type="Link">@L["Cancel"]</abp-button>
        </abp-modal-footer>
    </abp-modal>
</form>
