@page
@using Microsoft.Extensions.Localization
@using Unity.Flex.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Unity.Flex.Web.Pages.ScoresheetConfiguration;
@model Unity.Flex.Web.Pages.ScoresheetConfiguration.QuestionModalModel

@inject IStringLocalizer<FlexResource> L

@{
    Layout = null;
}
<form method="post" asp-page-handler="OnPostAsync" id="questionInfo">
    <abp-input type="hidden" id="ScoresheetId" asp-for="@Model.Question.ScoresheetId" />
    <abp-input type="hidden" id="SectionId" asp-for="@Model.Question.SectionId" />
    <abp-input type="hidden" id="QuestionId" asp-for="@Model.Question.Id" />
    <abp-input type="hidden" id="ActionType" asp-for="@Model.Question.ActionType" />
    <abp-modal size="Large" id="question-info-modal">
        <abp-modal-header class="question-info-modal-header" title="@Model.Question.ActionType"></abp-modal-header>
        <abp-modal-body>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Question.Name" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Question.Label" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Question.Description" />
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>
</form>
