@using Unity.Flex.Web.Views.Shared.Components.DateWidget;
@using Unity.Flex.Web.Views.Shared.Components;

@model DateViewModel;

@if (Model.Field != null)
{
    <div class="custom-input-group">
        <span class="custom-input-append"><i class="fl fl-datetime"></i></span>
        <input type="@Model.Field.Type.ConvertInputType()"
               class="@Model.Field.Type.ApplyCssClass()"
               value="@Model.Field.CurrentValue?.ConvertInputValueOrNull(Model.Field.Type)"
               label="@Model.Field.Label"
               id="@($"{Model.Field.Name}.{Model.Name}.{Model.Field.Id}")"
               name="@($"{Model.Field.Name}.{Model.Name}.{Model.Field.Id}")"
               onchange="@($"notifyFieldChange('{Model.Name}', '{Model.Field?.UiAnchor}', this)")" />
    </div>
}