@page
@model Unity.GrantManager.Web.Pages.ApplicationTags.ApplicationTagsModalModel
@using Unity.GrantManager.Web.Pages.ApplicationTags
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    Layout = null;
}
@section styles {
    <abp-style src="/Pages/ApplicationTags/ApplicationTags.css" />
}
@section scripts
    {
    <abp-script src="/Pages/ApplicationTags/ApplicationTags.js" />
}
<form method="post" asp-page-handler="OnPostAsync">
    <abp-modal id="tagApplicationsModal">
    <abp-modal-header title="Tags"></abp-modal-header>
    <abp-modal-body>
        <div>
                <abp-input type="text" id="SelectedTags" asp-for="@Model.SelectedTags" />
                <abp-input type="hidden" id="SelectedApplicationIds" asp-for="@Model.SelectedApplicationIds" />
                <abp-input type="hidden" id="ActionType" asp-for="@Model.ActionType" />
                <abp-input type="hidden" id="CommonTags" asp-for="@Model.CommonTags" />
                <abp-input type="hidden" id="UncommonTags" asp-for="@Model.UncommonTags" />
              
        </div>       
    </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Save|AbpModalButtons.Cancel)">
        </abp-modal-footer>
 
</abp-modal>
</form>