@using Unity.Flex.Web.Views.Shared.Components.QuestionSelectListWidget;
@using Unity.Flex.Worksheets.Definitions;
@using Unity.Flex;
@using Unity.Flex.Scoresheets.Enums;

@model QuestionSelectListViewModel;

<div class="mb-3">
    <label for="answer-selectlist-@Model.QuestionId" class="form-label unt-form-label">Answer</label>
    <select id="answer-selectlist-@Model.QuestionId"
            class="form-select form-control answer-selectlist-input"
            name="Answer-SelectList-@Model.QuestionId"
            data-original-value="@Model.Answer"
            disabled="@Model.IsDisabled"
            onchange="handleInputChange('@Model.QuestionId','answer-selectlist-')">
        <option data-numeric-value="0" value="">Please choose...</option>
        @foreach (var item in ((QuestionSelectListDefinition?)Model.Definition?.ConvertDefinition(QuestionType.SelectList))?.Options ?? [])
        {
            var truncatedValue = item.Value.Length > 70 ? item.Value.Substring(0, 70) + " ..." : item.Value;
            <!option @(Model.Answer == @item.Value ? "selected" : "") data-numeric-value="@item.NumericValue" value="@item.Value" title="@item.Value">@truncatedValue</!option>
        }
    </select>
</div>

    