@using Unity.Flex.Web.Views.Shared.Components;
@using Unity.Flex.Web.Views.Shared.Components.QuestionSelectListWidget;
@using Unity.Flex.Worksheets.Definitions;

@model QuestionSelectListViewModel;

<div class="mb-3">
    <label for="answer-selectlist-@Model.QuestionId" class="form-label">Answer</label>
    <select id="answer-selectlist-@Model.QuestionId"
            class="form-select form-control answer-selectlist-input"
            name="Answer-SelectList[@Model.QuestionId]"
            data-original-value="@Model.Answer"
            disabled="@Model.IsDisabled"
            onchange="handleInputChange('@Model.QuestionId','answer-selectlist-','save-selectlist-','discard-selectlist-')">
        <option data-numeric-value="0" value="">Please choose...</option>
        @foreach (var item in ((QuestionSelectListDefinition?)Model.Definition?.ConvertDefinition(Unity.Flex.Scoresheets.QuestionType.SelectList))?.Options ?? [])
        {
            var truncatedValue = item.Value.Length > 70 ? item.Value.Substring(0, 70) + " ..." : item.Value;
            <!option @(Model.Answer == @item.Value ? "selected" : "") data-numeric-value="@item.NumericValue" value="@item.Value" title="@item.Value">@truncatedValue</!option>
        }
    </select>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-primary" disabled="@Model.IsDisabled" disabled id="save-selectlist-@Model.QuestionId" onclick="saveChanges('@Model.QuestionId','answer-selectlist-','save-selectlist-',12,'discard-selectlist-')">SAVE CHANGES</button>
    <button type="button" class="btn btn-secondary" disabled="@Model.IsDisabled" id="discard-selectlist-@Model.QuestionId" onclick="discardChanges('@Model.QuestionId','answer-selectlist-','save-selectlist-','discard-selectlist-')">DISCARD CHANGES</button>
</div>

    