@page
@using Newtonsoft.Json
@using Unity.Modules.Shared
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Authorization.Permissions

@model Unity.Payments.Web.Pages.PaymentTags.PaymentTagsSelectionModalModel

@{
    Layout = null;
}

@inject IPermissionChecker PermissionChecker

<form method="post" asp-page-handler="OnPostAsync" data-check-form-on-close="false" id="paymentTagForm" autocomplete="off">
    <abp-modal id="tagPaymentsModal" size="Large">
        <abp-modal-header title="Tags"></abp-modal-header>
        <abp-modal-body>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-triangle"></i> @ViewData["Error"]
                </div>
            }
            else
            {
                <div>
                    <abp-input type="text" id="SelectedTags" asp-for="@Model.SelectedTags" />

                    <input type="hidden" id="SelectedTagsJson" name="SelectedTagsJson" />
                    <abp-input type="hidden" id="SelectedPaymentRequestIds" asp-for="@Model.SelectedPaymentRequestIds" />
                    <abp-input type="hidden" id="CacheKey" asp-for="@Model.CacheKey" />
                    <abp-input type="hidden" id="ActionType" asp-for="@Model.ActionType" />
                    <input type="hidden" id="Tags" name="Tags" value='@Html.Raw(JsonConvert.SerializeObject(Model.Tags))' />
                    <input type="hidden" id="TagsJson" name="TagsJson" value='@Html.Raw(JsonConvert.SerializeObject(Model.Tags))' />
                </div>
            }

            @* Permission notes - always visible *@
            @if (!await PermissionChecker.IsGrantedAsync(UnitySelector.Payment.Tags.Create))
            {
                <div class="form-text"><strong>Note: </strong>The current user does not have permission to assign payment tags.</div>
            }

            @if (!await PermissionChecker.IsGrantedAsync(UnitySelector.Payment.Tags.Delete))
            {
                <div class="form-text"><strong>Note: </strong>The current user does not have permission to remove payment tags.</div>
            }
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn btn-primary" data-busy-text="Saving..." type="submit" id="paymentTagsModelSaveBtn">Save</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        </abp-modal-footer>
    </abp-modal>
</form>
