@using Unity.GrantManager.Web.Views.Shared.Components.SummaryWidget;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Unity.GrantManager.Web.Pages.GrantApplications;
@using Unity.GrantManager.Localization;
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<GrantManagerResource> L

@model SummaryWidgetViewModel
@{
    Layout = null;
}



<abp-row class="px-1 pb-2 mb-4 summary-container">
    <h6 class="ps-1 fw-bold">@L["Summary:ApplicationSummaryTitle"].Value</h6>
    <table aria-describedby="Application Summary" style="width:100%;border-collapse:separate;">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td colspan="2">
                <abp-input asp-for="@Model.Category" style="width:100%;" label="@L["Summary:Application.Category"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td>
                <abp-input asp-for="@Model.EconomicRegion" style="width:100%;" label="@L["Summary:Application.EconomicRegion"].Value" disabled="true" />
            </td>
            <td>
                <abp-input asp-for="@Model.SubmissionDate" style="width:100%;" label="@L["Summary:Application.SubmissionDate"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <abp-input asp-for="@Model.OrganizationName" style="width:100%;" label="@L["Summary:Application.OrganizationName"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <abp-input asp-for="@Model.OrganizationNumber" style="width:100%;" label="@L["Summary:Application.OrganizationNumber"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td>
                <abp-input asp-for="@Model.City" style="width:100%;" label="@L["Summary:Application.City"].Value" disabled="true" />
            </td>
            <td>
                <abp-input asp-for="@Model.Community" style="width:100%;" label="@L["Summary:Application.Community"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="unity-input-group">
                    <span class="unity-input-prepend">$</span>
                    <abp-input asp-for="@Model.RequestedAmount" class="currency-input" style="width:100%;" label="@L["Summary:Application.RequestedAmount"].Value" disabled="true" />
                </div>
            </td>
            <td>
                <div class="unity-input-group">
                    <span class="unity-input-prepend">$</span>
                    <abp-input asp-for="@Model.ProjectBudget" class="currency-input" style="width:100%;" label="@L["Summary:Application.ProjectBudget"].Value" disabled="true" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <abp-input asp-for="@Model.Sector" style="width:100%;" label="@L["Summary:Application.Sector"].Value" disabled="true" />
            </td>
        </tr>
    </table>
</abp-row>
<abp-row class="px-1 pb-2 mb-4 summary-container">
    <h6 class="ps-1 fw-bold">@L["Summary:AssessmentSummaryTitle"].Value</h6>
    <table aria-describedby="Assessment Summary" style="width:100%;border-collapse:separate;border-spacing: 10px 10px;">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td style="vertical-align:bottom;">
                <abp-input asp-for="@Model.Status" style="width:100%;" label="@L["Summary:Assessment.Status"].Value" disabled="true" />
            </td>
            <td style="vertical-align:bottom;">
                <abp-input asp-for="@Model.LikelihoodOfFunding" style="width:100%;" label="@L["Summary:Assessment.LikelihoodOfFunding"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:bottom;">
                <abp-input asp-for="@Model.AssessmentStartDate" style="width:100%;" label="@L["Summary:Assessment.AssessmentStartDate"].Value" disabled="true" />
            </td>
            <td style="vertical-align:bottom;">
                <abp-input asp-for="@Model.FinalDecisionDate" style="width:100%;" label="@L["Summary:Assessment.FinalDecisionDate"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:bottom;">
                <abp-input asp-for="@Model.TotalScore" style="width:100%;" label="@L["Summary:Assessment.TotalScore"].Value" disabled="true" />
            </td>
            <td style="vertical-align:bottom;">
                <abp-input asp-for="@Model.AssessmentResult" style="width:100%;" label="@L["Summary:Assessment.AssessmentResult"].Value" disabled="true" />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:bottom;">
                <div class="unity-input-group">
                    <span class="unity-input-prepend">$</span>
                    <abp-input asp-for="@Model.RecommendedAmount" class="currency-input" style="width:100%;" label="@L["Summary:Assessment.RecommendedAmount"].Value" disabled="true" />
                </div>
            </td>
            <td style="vertical-align:bottom;">
                <div class="unity-input-group">
                    <span class="unity-input-prepend">$</span>
                    <abp-input asp-for="@Model.ApprovedAmount" class="currency-input" style="width:100%;" label="@L["Summary:Assessment.ApprovedAmount"].Value" disabled="true" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <abp-input asp-for="@Model.Batch" style="width:100%;" label="@L["Summary:Assessment.Batch"].Value" disabled="true" />
            </td>
        </tr>
    </table>
</abp-row>
    
<script defer>
    (function () {
        $('.currency-input').maskMoney();
    })();
</script>

