@page
@using Microsoft.Extensions.Localization
@using Unity.Flex.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Unity.Flex.Web.Pages.WorksheetConfiguration;

@model Unity.Flex.Web.Pages.WorksheetConfiguration.UpsertCustomFieldModalModel;

@inject IStringLocalizer<FlexResource> L
@{
    Layout = null;
}
@section scripts
{
    <abp-script src="/Pages/WorksheetConfiguration/Index.js" />
}
<form method="post" asp-page-handler="OnPostAsync" id="customFieldInfo" spellcheck="false">
    <abp-input type="hidden" id="CustomFieldId" asp-for="@Model.Id" />
    <abp-input type="hidden" id="Order" asp-for="@Model.Order" />
    <abp-input type="hidden" id="UpsertAction" asp-for="@Model.UpsertAction" />
    <abp-input type="hidden" id="Definitions" asp-for="@Model.Definitions" />
    <abp-modal size="Large" id="custom-field-info-modal">
        <abp-modal-header class="custom-field-info-modal-header" title="@Model.UpsertAction"></abp-modal-header>
        <abp-modal-body>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Name" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Label" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-select asp-for="@Model.FieldType" asp-items="@Model.FieldTypes"
                            onchange="typeSelectionChanged(this)">
                </abp-select>
            </abp-row>
            <abp-row class="m-0 p-0">
                <textarea id="jsonText" rows="15" cols="80">@Model.Definition</textarea>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer>
            <button type="submit" class="btn btn-primary">@AbpModalButtons.Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@AbpModalButtons.Cancel</button>
        </abp-modal-footer>
    </abp-modal>
</form>

<script>
    function typeSelectionChanged(event) {
        console.log(event);
    }
</script>
