@page
@using Unity.GrantManager.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Unity.GrantManager.Web.Pages.GrantApplications;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;

@model Unity.GrantManager.Web.Pages.Payment.CreateApplicationPaymentRequestModal

@inject IStringLocalizer<GrantManagerResource> L
@{
    Layout = null;
}
@section styles
    {
    <abp-style src="/Pages/Payment/CreatePaymentRequestModal.css" />
}

<form method="post" asp-page-handler="OnPostAsync" id="paymentform">
    <abp-modal size="Large">
        <abp-modal-header class="payment-modal-header" title="@L["ApplicationPaymentRequest:Title"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-card>
                <abp-card-body class="payment-card">
                    @for (var i = 0; i < Model.ApplicationPaymentRequestForm?.Count; i++)
                    {                                              
                        <div id="@($"{Model.ApplicationPaymentRequestForm[i].ApplicationId}_container")">
                            <abp-row class="m-0 p-2">
                                <abp-column size="_11" class="px-1"><h6 class="single-payment-card-application-name">@Model.ApplicationPaymentRequestForm[i].ApplicantName/@Model.ApplicationPaymentRequestForm[i].InvoiceNumber</h6></abp-column>
                                <abp-column size="_1" class="px-1 remove-single-payment">  <abp-button onclick='removeApplicationPayment("@Model.ApplicationPaymentRequestForm[i].ApplicationId" + "_container")' size="Small" icon-type="Other" class="m-0 p-0 remove-single-payment" icon="fa fa-times" data-parameter="@Model.ApplicationPaymentRequestForm[i].ApplicationId" /></abp-column>
                            </abp-row>

                            <input name="ApplicationPaymentRequestForm.Index" type="hidden" value="@i" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].ApplicationId" />
                            <abp-row class="m-0 p-2">                          
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentRequestForm[i].InvoiceNumber" />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentRequestForm[i].Amount" />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentRequestForm[i].Description" />
                                </abp-column>
                            </abp-row>

                            @if (Model.ApplicationPaymentRequestForm.IndexOf(@Model.ApplicationPaymentRequestForm[i]) != (Model.ApplicationPaymentRequestForm.Count - 1))
                            {
                                <hr />
                            }
                        </div>
                    }
                </abp-card-body>
            </abp-card>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Save|AbpModalButtons.Cancel)"></abp-modal-footer>
    </abp-modal>
</form>
