@page
@using Unity.GrantManager.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Unity.GrantManager.Web.Pages.GrantApplications;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;

@model Unity.GrantManager.Web.Pages.Payment.CreateApplicationPaymentRequestModal

@inject IStringLocalizer<GrantManagerResource> L
@{
    Layout = null;
}
@section styles
    {
    <abp-style src="/Pages/Payment/CreatePaymentRequestModal.css" />
}

<form method="post" asp-page-handler="OnPostAsync">
    <abp-modal size="Large">
        <abp-modal-header class="payment-modal-header" title="@L["ApplicationPaymentRequest:Title"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-card>
                <abp-card-body class="payment-card">

                    @foreach (var item in Model.ApplicationPaymentRequestForm)
                    {

                        <abp-row class="m-0 p-2">
                            <abp-column size="_11" class="px-1"><h6 class="single-payment-card-application-name">@item.ApplicantName/@item.InvoiceNumber</h6></abp-column>
                            <abp-column size="_1" class="px-1"><i class="fa fa-times remove-single-payment" aria-hidden="true"></i></abp-column>
                        </abp-row>

                        <abp-row class="m-0 p-2">
                            <abp-column size="_4" class="px-1">
                                <abp-input asp-for="@item.InvoiceNumber" name="@($"{item.ApplicationId}_InvoiceNumber")" id="@($"{item.ApplicationId}_InvoiceNumber")" />
                            </abp-column>
                            <abp-column size="_4" class="px-1">
                                <abp-input asp-for="@item.Amount" name="@($"{item.ApplicationId}_Amount")" id="@($"{item.ApplicationId}_Amount")" />
                            </abp-column>
                            <abp-column size="_4" class="px-1">
                                <abp-input asp-for="@item.Description" name="@($"{item.ApplicationId}_Description")" id="@($"{item.ApplicationId}_Description")" />
                            </abp-column>
                        </abp-row>
                        @if (Model.ApplicationPaymentRequestForm.IndexOf(item) != (Model.ApplicationPaymentRequestForm.Count - 1))
                        {
                            <hr />
                        }


                    }

                </abp-card-body>
            </abp-card>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Save|AbpModalButtons.Cancel)"></abp-modal-footer>
    </abp-modal>
</form>
