@using Microsoft.AspNetCore.Authorization;
@using Unity.Flex.Localization
@using Microsoft.Extensions.Localization;
@using Unity.Flex.Web.Views.Shared.Components.WorksheetInstanceWidget;
@using Unity.Flex.Web.Views.Shared.Components.WorksheetInstanceWidget.ViewModels;
@using Unity.Flex.Worksheets

@model WorksheetViewModel;

@inject IStringLocalizer<FlexResource> L
@inject IAuthorizationService AuthorizationService

@if (Model.IsConfigured)
{
    <div class="@($"worksheet worksheet_{Model.UiAnchor}")">
        @foreach (var worksheetSection in Model.Sections)
        {
            <div class="@($"worksheet_section worksheet_section_{Model.UiAnchor}")">
                <label class="@($"worksheet_section_label worksheet_section_label_{Model.UiAnchor}")">@worksheetSection.Name</label>
                <div class="@($"worksheet_section_wrapper worksheet_section_wrapper_{Model.UiAnchor}")">
                    @foreach (var field in worksheetSection.Fields)
                    {
                        <div class="worksheet_field worksheet_field_@Model.UiAnchor">
                            <label class="form-label">@field.Label</label>
                            @switch (field.Type)
                            {
                                case CustomFieldType.YesNo:
                                    {
                                        <select class="@field.Type.ApplyCssClass()"
                                                id="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                                name="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                                onchange="@($"notifyFieldChange('{Model.Name}', this)")">
                                            <option selected="@field.CurrentValue?.CompareSelectListValue("Please choose...")">Please choose...</option>
                                            <option selected="@field.CurrentValue?.CompareSelectListValue("Yes")">Yes</option>
                                            <option selected="@field.CurrentValue?.CompareSelectListValue("No")">No</option>
                                        </select>
                                        break;
                                    }
                                case CustomFieldType.Currency:
                                    {
                                        <div class="custom-input-group">
                                            <span class="custom-input-prepend">$</span>
                                            <input type="@field.Type.ConvertInputType()"
                                                   label="@field.Label"
                                                   value="@field.CurrentValue?.ConvertInputValueOrNull(field.Type)"
                                                   class="@field.Type.ApplyCssClass()"
                                                   min="@field.Definition?.ConvertDefinition(field.Type)?.GetMinValueOrNull()"
                                                   max="@field.Definition?.ConvertDefinition(field.Type)?.GetMaxValueOrNull()"
                                                   id="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                                   name="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                                   onchange="@($"notifyFieldChange('{Model.Name}', this)")" />
                                        </div>
                                        break;
                                    }
                                case CustomFieldType.Date:
                                    {
                                        <div class="custom-input-group">
                                            <span class="custom-input-append"><i class="fl fl-datetime"></i></span>
                                            <input type="@field.Type.ConvertInputType()"
                                                   class="@field.Type.ApplyCssClass()"
                                                   value="@field.CurrentValue?.ConvertInputValueOrNull(field.Type)"
                                                   label="@field.Label"
                                                   id="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                                   name="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                                   onchange="@($"notifyFieldChange('{Model.Name}', this)")" />
                                        </div>
                                        break;
                                    }
                                default:
                                    {
                                        <input type="@field.Type.ConvertInputType()"
                                               label="@field.Label"
                                               value="@field.CurrentValue?.ConvertInputValueOrNull(field.Type)"
                                               class="@field.Type.ApplyCssClass()"
                                               min="@field.Definition?.ConvertDefinition(field.Type)?.GetMinValueOrNull()"
                                               max="@field.Definition?.ConvertDefinition(field.Type)?.GetMaxValueOrNull()"
                                               minlength="@field.Definition?.ConvertDefinition(field.Type)?.GetMinLengthValueOrNull()"
                                               maxlength="@field.Definition?.ConvertDefinition(field.Type)?.GetMaxLengthValueOrNull()"
                                               id="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                               name="@($"{field.Name}.{Model.Name}.{field.Id}")"
                                               onchange="@($"notifyFieldChange('{Model.Name}', this)")" />
                                        break;
                                    }
                            }
                            <span class="text-danger field-validation-valid" data-valmsg-for="@($"{field.Name}.{Model.Name}.{field.Id}")" data-valmsg-replace="true"></span>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
