@using Microsoft.AspNetCore.Authorization
@using Unity.Flex.Web.Views.Shared.Components.WorksheetInstanceWidget.ViewModels

@model WorksheetViewModel

@inject IAuthorizationService AuthorizationService

@if (Model.IsConfigured)
{
    @if (Model.HasMultipleWorksheets)
    {
        <!-- Multiple worksheets -->
        <input type="hidden" id="@($"{Model.UiAnchor}_WorksheetIds")" value="@string.Join(",", Model.WorksheetIds)" />

        @foreach (var worksheet in Model.Worksheets)
        {
            <div class="@($"worksheet worksheet_{Model.UiAnchor}")">
                @await Html.PartialAsync("/Views/Shared/Components/WorksheetInstanceWidget/_WorksheetSections.cshtml", new WorksheetSectionRenderModel
                {
                    Sections = worksheet.Sections,
                    ModelName = worksheet.Name,
                    WorksheetId = worksheet.WorksheetId,
                    WorksheetInstanceId = worksheet.WorksheetInstanceId,
                    UiAnchor = Model.UiAnchor
                })
            </div>
        }
    }
    else
    {
        <!-- Single worksheet -->
        <input type="hidden" id="@($"{Model.UiAnchor}_WorksheetId")" value="@Model.WorksheetId" />

        <div class="@($"worksheet worksheet_{Model.UiAnchor}")">
            @await Html.PartialAsync("/Views/Shared/Components/WorksheetInstanceWidget/_WorksheetSections.cshtml", new WorksheetSectionRenderModel
            {
                Sections = Model.Sections,
                ModelName = Model.Name,
                WorksheetId = Model.WorksheetId,
                WorksheetInstanceId = Model.WorksheetInstanceId,
                UiAnchor = Model.UiAnchor
            })
        </div>
    }
}
