@using Unity.GrantManager.Comments;
@using Unity.GrantManager.Web.Views.Shared.Components.CommentsWidget;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Unity.GrantManager.Web.Pages.GrantApplications;
@model CommentsWidgetViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Unity.GrantManager.Localization;
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<GrantManagerResource> L
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    Layout = null;
    int MaxCharCount = 2000;
}
<div id="comments-div@(Model.OwnerId)" class="mt-2 comments-container" data-type="@Model.CommentType" data-count="@Model.Comments.Count" data-counttag="application_comments_count">
    @foreach (var comment in Model.Comments)
    {
        @if (comment != null)
        {
            <div class="mb-2 comment-read-mode">
                <div class="unity-comment-block read-mode" data-id="@comment.Id">

                    <div class="d-flex justify-content-between">

                        <div class="fw-bold commenter-name">
                            @comment.Commenter
                        </div>
                        @if (Model.CurrentUserId == comment.CommenterId)
                        {

                            <div class="comment-edit-btn-wrapper">
                                <span class="edit-button" data-id="@comment.Id">...</span>
                            </div>
                        }
                    </div>
                    <div class="comment-lbl" data-id="@comment.Id">
                        <div>
                            @comment.Comment
                        </div>
                    </div>
                    @if (@comment.LastModificationTime != null)
                    {
                        <div class="commented-time mt-3 fw-bold">@L["ApplicationDetails:Comments.Modified"].Value @comment.LastModificationTime?.ToString("yyyy-MM-dd h:mm tt")</div>
                    }
                    else
                    {
                        <div class="commented-time mt-3 fw-bold">@L["ApplicationDetails:Comments.Created"].Value @comment.CreationTime.ToString("yyyy-MM-dd h:mm tt")</div>
                    }

                </div>

                <div class="single-comment edit-mode" data-id="@comment.Id" style="display: none;">
                    <textarea rows="6" maxlength="@MaxCharCount" class="form-control comment-input-mutliple" placeholder="Update the comment" data-id="@comment.Id">@comment.Comment</textarea>
                    <div class="comment-button-container">
                        <i class="fl fl-cross edit-comment-cancel-button comment-btn" data-id="@comment.Id" data-ownerId="@Model.OwnerId" data-type="@Model.CommentType"></i>
                        <i class="fl fl-tick edit-comment-save-button comment-btn" data-id="@comment.Id" data-ownerId="@Model.OwnerId" data-type="@Model.CommentType"></i>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <div class="col-12 mt-2">
        <div class="comments-div">
            <div class="single-comment">
                <textarea rows="4" maxlength="@MaxCharCount" class="form-control comment-input" placeholder="Add a comment" data-ownerId="@Model.OwnerId" id="addCommentTextArea@(Model.OwnerId)"></textarea>
                <div id="addCommentContainer@(Model.OwnerId)" class="comment-button-container add-comment">
                    <i data-ownerId="@Model.OwnerId" data-type="@Model.CommentType" class="fl fl-cross add-comment-cancel-button comment-btn"></i>
                    <i data-ownerId="@Model.OwnerId" data-type="@Model.CommentType" class="fl fl-tick add-comment-save-button comment-btn"></i>
                </div>
            </div>
        </div>
    </div>
</div>