@page
@using Microsoft.Extensions.Localization
@using Unity.Payments.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model Unity.Payments.Web.Pages.PaymentApprovals.UpdatePaymentRequestStatus
@inject IStringLocalizer<PaymentsResource> L

@{
    Layout = null;
}

<form method="post" asp-page-handler="OnPostAsync" id="paymentRequestStatus">
    <abp-modal size="ExtraLarge" id="payment-modal">
        @if(Model.IsApproval)
        {
            <abp-modal-header class="payment-modal-header" title="@L["ApplicationPaymentStatusRequest:ApproveTitle"].Value"></abp-modal-header>
        }
        else
        {
            <abp-modal-header class="payment-modal-header" title="@L["ApplicationPaymentStatusRequest:DeclineTitle"].Value"></abp-modal-header>

        }

        <abp-modal-body>
            <abp-card>
                <abp-card-body class="payment-card">
                    <abp-input id="PaymentThreshold" type="hidden" asp-for="PaymentThreshold" />
                    <abp-input id="ApplicationCount" type="hidden" asp-for="ApplicationPaymentApprovalForm.Count" />
                    @for (var i = 0; i < Model.ApplicationPaymentApprovalForm?.Count; i++)
                    {
                        <div id="@($"{Model.ApplicationPaymentApprovalForm[i].Id}_container")" class="single-payment">
                            <abp-row class="m-0 p-2">
                                <abp-column size="_11" class="px-1"><h6 class="single-payment-card-application-name">@Model.ApplicationPaymentApprovalForm[i].ApplicantName (@Model.ApplicationPaymentApprovalForm[i].InvoiceNumber)</h6></abp-column>
                                <abp-column size="_1" class="px-1 remove-single-payment">  <abp-button onclick='removeApplicationPayment("@Model.ApplicationPaymentApprovalForm[i].Id" + "_container")' size="Small" icon-type="Other" class="m-0 p-0 remove-single-payment" icon="fa fa-times" data-parameter="@Model.ApplicationPaymentApprovalForm[i].CorrelationId" /></abp-column>
                            </abp-row>

                            <input name="ApplicationPaymentApprovalForm.Index" type="hidden" value="@i" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentApprovalForm[i].Id" />
                            <input type="hidden" asp-for="@Model.IsApproval" />
                            <abp-row class="m-0 p-3">
                                <abp-column size="_3" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentApprovalForm[i].Id" disabled/>
                                </abp-column>
                                <abp-column size="_3" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentApprovalForm[i].Amount" 
                                            class="amount unity-currency-input" 
                                            disabled
                                               />
                                </abp-column>
                                <abp-column size="_3" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentApprovalForm[i].Description" disabled/>
                                </abp-column>
                            </abp-row>
                        </div>
                    }
                    <abp-row class="m-0 p-2 no-payment-msg text-center" id="no-payment-msg" style="display: none;">
                        <abp-column size="_12" class="px-1"> <p>No Payments Selected</p></abp-column>
                    </abp-row>
                </abp-card-body>
            </abp-card>
        </abp-modal-body>
        <abp-modal-footer>
            <abp-button class="btn btn-secondary" text="@L["ApplicationPaymentStatusRequest:CancelButtonText"].Value" data-dismiss="modal" onclick="closePaymentModal()"></abp-button>
            @if (Model.IsApproval)
            {
                <abp-button id="btnSubmitPayment" class="btn btn-primary" text="@L["ApplicationPaymentStatusRequest:ApproveButtonText"].Value" type="submit"></abp-button>
            }
            else
            {
                <abp-button id="btnSubmitPayment" class="btn btn-primary" text="@L["ApplicationPaymentStatusRequest:DeclineButtonText"].Value" type="submit"></abp-button>

            }
           
        </abp-modal-footer>
    </abp-modal>
</form>

<script defer>
    (function () {
        if (window.jQuery) {
            $('.unity-currency-input').maskMoney();
        }
    })();
</script>
