﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Unity.Flex.Localization;
@using Unity.Flex.Web.Views.Shared.Components.Worksheets;
@using Volo.Abp.Authorization.Permissions;

@inject IHtmlLocalizer<FlexResource> L
@inject IPermissionChecker PermissionChecker
@model Unity.Flex.Web.Views.Shared.Components.Worksheets.WorksheetWidgetViewModel;

@section scripts {
    <abp-script src="/libs/sortablejs/Sortable.js"></abp-script>
}

@{
    var worksheet = @Model.Worksheet;

    <div id="sections-custom-fields" class="list-group col">
        @foreach (var sect in worksheet.Sections)
        {
            <div class="list-group-item row section-item" data-type="section" data-id="@sect.Id" data-scoresheetid="@worksheet.Id" data-label="@sect.Name">
                <div class="col">
                    <i class="fl fl-draggable"></i>
                    <span class="p-2"><b>Section:</b> @sect.Name</span>
                    <button class="btn question-info-btn float-end" type="button" onclick="openSectionModal('@worksheet.Id','@sect.Id','Edit Section');">
                        <i class="fl fl-edit"></i>
                    </button>
                </div>
            </div>

            @foreach (var customField in sect.Fields)
            {
                <div class="list-group-item row" data-type="custom-field" data-id="@customField.Id" data-scoresheetid="@worksheet.Id">
                    <div class="col">
                        <i class="fl fl-draggable"></i>
                        <span class="p-2">@customField.Label</span>
                        <button class="btn custom-field-info-btn float-end" type="button" onclick="openCustomFieldModal('@worksheet.Id','@sect.Id','@customField.Id','Edit Custom Field');">
                            <i class="fl fl-edit"></i>
                        </button>
                    </div>
                </div>
            }
        }
    </div>
}









