@using Unity.Flex.Web.Views.Shared.Components.CurrencyWidget;
@using Unity.Flex.Web.Views.Shared.Components;

@model CurrencyViewModel;

@if (Model.Field != null)
{
    <div class="custom-input-group">
        <span class="custom-input-prepend">$</span>
        <input type="@Model.Field.Type.ConvertInputType()"
               label="@Model.Field.Label"
               value="@Model.Field.CurrentValue?.ConvertInputValueOrNull(Model.Field.Type)"
               class="@Model.Field.Type.ApplyCssClass()"
               data-min="@Model.Field.Definition?.ConvertDefinition(Model.Field.Type)?.GetMinValueOrNull()"
               data-max="@Model.Field.Definition?.ConvertDefinition(Model.Field.Type)?.GetMaxValueOrNull()"
               id="@($"{Model.Field.Name}.{Model.Name}.{Model.Field.Id}")"
               name="@($"{Model.Field.Name}.{Model.Name}.{Model.Field.Id}")"
               onchange="@($"notifyFieldChange('{Model.Name}', '{Model.Field?.UiAnchor}', this)")"/>
        <span id="@($"{Model.Field?.Name}.{Model.Name}.{Model.Field?.Id}")-error" class="text-danger field-validation-error"></span>
    </div>
}