@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Unity.Payments.Localization
@using Microsoft.Extensions.Localization

@model Unity.Payments.Web.Pages.Payments.CreatePaymentRequestsModel

@inject IStringLocalizer<PaymentsResource> L
@{
    Layout = null;
}

<style>
    .payment-note-prefix {
        font-weight: 700;
        color: var(--bc-colors-blue-text-links);
        text-transform: uppercase;
        border: 3px solid var(--bc-colors-blue-text-links);
        border-radius: 1rem;
        font-size: 0.8rem;
        padding: 0.025rem 0.5rem;
        line-height: 1.75rem;
    }

    .payment-note-error {
        color: var(--lpx-danger);
        border-color: var(--lpx-danger);
    }
</style>

<form method="post" asp-page-handler="OnPostAsync" id="paymentform">
    <abp-modal size="ExtraLarge" id="payment-modal">
        <abp-modal-header class="payment-modal-header" title="@L["ApplicationPaymentRequest:Title"].Value"></abp-modal-header>
        <abp-modal-body>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-triangle"></i> @ViewData["Error"]
                </div>
            }
            else
            {
                <abp-card class="pb-0">
                    <abp-card-body class="pb-0 mb-0">
                        <abp-row class="m-0 p-1">
                            <abp-column size="_4" >
                                <label for="@Model.BatchNumberDisplay" class="form-label unt-form-label-primary">@L["ApplicationPaymentRequest:BatchNumberName"]</label>
                                <input type="text" class="form-control" value="@Model.BatchNumberDisplay" disabled />
                            </abp-column>
                            <abp-column size="_4">
                                <label for="@Model.ApplicationPaymentRequestForm?.Count" class="form-label unt-form-label-primary">@L["ApplicationPaymentRequest:NumberPayment"]</label>
                                <input type="text" class="form-control" id="ApplicationCount" value="@Model.ApplicationPaymentRequestForm?.Count" disabled />
                            </abp-column>
                            <abp-column size="_4">
                                <label for="@Model.TotalAmount" class="form-label unt-form-label-primary">@L["ApplicationPaymentRequest:TotalAmount"]</label>
                                <input type="text" class="form-control unity-currency-input" id="TotalAmount" value="@Model.TotalAmount" disabled />
                            </abp-column>
                        </abp-row>
                    </abp-card-body>
                </abp-card>
            <abp-card class="pt-0">
                <abp-card-body class="payment-card">
                    @for (var i = 0; i < Model.ApplicationPaymentRequestForm?.Count; i++)
                    {
                        <div id="@($"{Model.ApplicationPaymentRequestForm[i].CorrelationId}_container")" class="single-payment payment-item">
                            <abp-row class="m-0 p-2">
                                <abp-column size="_12" class="d-flex justify-content-between align-items-center px-1">
                                    <h6 class="single-payment-card-application-name mb-0">
                                        <span class="fw-bold">@Model.ApplicationPaymentRequestForm[i].ApplicantName/@Model.ApplicationPaymentRequestForm[i].InvoiceNumber</span>
                                        @if (!string.IsNullOrEmpty(Model.ApplicationPaymentRequestForm[i].ParentReferenceNo))
                                        {
                                            <span>&nbsp;&nbsp;(Parent Id: <strong>@Model.ApplicationPaymentRequestForm[i].ParentReferenceNo</strong>)</span>
                                        }
                                    </h6>
                                    <abp-button onclick='removeApplicationPaymentRequest("@Model.ApplicationPaymentRequestForm[i].CorrelationId" + "_container")'
                                                size="Small"
                                                icon-type="Other"
                                                class="m-0 p-0 remove-single-payment"
                                                icon="fa fa-times"
                                                data-parameter="@Model.ApplicationPaymentRequestForm[i].CorrelationId" />
                                </abp-column>
                            </abp-row>

                            <input name="ApplicationPaymentRequestForm.Index" type="hidden" value="@i" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].CorrelationId" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].ContractNumber" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].ApplicantName" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].SubmissionConfirmationCode" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].SupplierName" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].SupplierNumber" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].RemainingAmount" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].SiteId" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].AccountCodingId" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].ParentReferenceNo" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].MaximumAllowedAmount" />
                            <input type="hidden" asp-for="@Model.ApplicationPaymentRequestForm[i].IsPartOfParentChildGroup" />

                            <abp-row class="m-0 p-3">
                                <abp-column size="_2" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentRequestForm[i].InvoiceNumber" disabled="@Model.ApplicationPaymentRequestForm[i].DisableFields"/>
                                </abp-column>
                                <abp-column size="_2" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentRequestForm[i].Amount" 
                                            class="amount unity-currency-input"
                                               disabled="@Model.ApplicationPaymentRequestForm[i].DisableFields"
                                               onchange='checkMaxValueRequest("@Model.ApplicationPaymentRequestForm[i].CorrelationId",this, @Model.ApplicationPaymentRequestForm[i].RemainingAmount)' />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentRequestForm[i].SiteName" alt="@Model.ApplicationPaymentRequestForm[i].SiteName" disabled="true"/>
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="@Model.ApplicationPaymentRequestForm[i].Description" alt="@Model.ApplicationPaymentRequestForm[i].Description" disabled="@Model.ApplicationPaymentRequestForm[i].DisableFields"/>
                                </abp-column>

                                <abp-column size="_12" class="payment-error-column" id="@($"column_{Model.ApplicationPaymentRequestForm[i].CorrelationId}_remaining_error")" style="display: none;">
                                    <span><span class="payment-note-prefix payment-note-error">Error</span>&nbsp; @L["ApplicationPaymentRequest:Validations:RemainingAmountExceeded"] @Model.ApplicationPaymentRequestForm[i].RemainingAmount</span>
                                </abp-column>

                                <abp-column size="_12" class="payment-error-column" id="@($"column_{Model.ApplicationPaymentRequestForm[i].CorrelationId}_parent_child_error")" style="display: none;">
                                    <span><span class="payment-note-prefix payment-note-error">Error</span>&nbsp; <span id="@($"parent_child_error_message_{Model.ApplicationPaymentRequestForm[i].CorrelationId}")"></span></span>
                                </abp-column>

                                @for (var j = 0; j < Model.ApplicationPaymentRequestForm[i].ErrorList?.Count; j++)
                                {
                                <abp-column size="_12" class="payment-error-column">
                                    <span><span class="payment-note-prefix payment-note-error">Error</span>&nbsp; @Model.ApplicationPaymentRequestForm[i].ErrorList[j]</span>
                                </abp-column>
                                }

                            </abp-row>
                        </div>
                    }
                    <abp-row class="m-0 p-2 no-payment-msg text-center" id="no-payment-msg" style="display: none;">
                        <abp-column size="_12" class="px-1"> <p>No Payments Selected</p></abp-column>
                    </abp-row>
                    
                    @if (!Model.HasPaymentConfiguration)
                    {
                        <abp-row class="m-0 p-1 ">
                            <abp-column size="_12">
                                <span>
                                    <span class="payment-note-prefix">Note</span>
                                A default
                                <a href="~/PaymentConfigurations" style="text-decoration: none;color: var(--bc-colors-blue-primary);font-weight: 700;text-transform: uppercase;">
                                Account Coding
                                </a> is required for payments.</span>
                            </abp-column>
                        </abp-row>
                    }

                </abp-card-body>
            </abp-card>
            }
        </abp-modal-body>
        <abp-modal-footer>
            <abp-button id="btnSubmitPayment" class="btn btn-primary" text="@L["ApplicationPaymentRequest:SubmitButtonText"].Value"  onclick="submitPayments()" disabled="@Model.DisableSubmit" type="button"></abp-button>
            <abp-button class="btn btn-secondary" text="@L["ApplicationPaymentRequest:CancelButtonText"].Value" data-dismiss="modal" onclick="closePaymentModal()"></abp-button>
        </abp-modal-footer>
    </abp-modal>
</form>

<script defer>
    (function () {
        if (window.jQuery) {
            $('.unity-currency-input').maskMoney();
            // Validate payment amounts on initial page load
            validateAllPaymentAmounts();
        }
    })();
</script>
