@using Unity.Flex.Web.Views.Shared.Components;
@using Unity.Flex.Web.Views.Shared.Components.RadioWidget;
@using Unity.Flex.Worksheets.Definitions;
@using Unity.Flex;

@model RadioViewModel;

@if (Model.Field != null)
{
    
    var fieldBaseName = Model.WorksheetId.HasValue
        ? $"{Model.Field.Name}.{Model.Name}.{Model.Field.Id}.{Model.WorksheetId}"
        : $"{Model.Field.Name}.{Model.Name}.{Model.Field.Id}";
    
    <fieldset>
        <legend></legend>
        @foreach (var option in ((RadioDefinition?)Model.Field?.Definition?.ConvertDefinition(Model.Field.Type))?.Options ?? [])
        {
            
            var optionId = $"{fieldBaseName}.{option.Value}";
            
            <div class="custom-radio-button">
                @if (Model.Field != null)
                {
                    @if ((Model.Field?.CurrentValue?.ConvertInputValueOrNull(Model.Field.Type))?.ToString() == option.Value)
                    {
                        <input type="@Model.Field.Type.ConvertInputType()"
                               id="@optionId"
                               name="@fieldBaseName"
                               value="@($"{option.Value}")"
                               onchange="@($"notifyFieldChange('{Model.Name}', '{Model.Field?.UiAnchor}', this)")"
                               checked />
                    }
                    else
                    {
                        <input type="@Model.Field?.Type.ConvertInputType()"
                               id="@optionId"
                               name="@fieldBaseName"
                               value="@($"{option.Value}")"
                               onchange="@($"notifyFieldChange('{Model.Name}', '{Model.Field?.UiAnchor}', this)")" />
                    }
                    <label for="@optionId">@($"{option.Label}")</label>
                }
            </div>
        }
    </fieldset>
}