@model Unity.GrantManager.Web.Pages.GrantApplications.DetailsModel
@{
    Layout = null;
}
<form method="post" id="comment-form" asp-page-handler="OnPostAsync">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="comments-div">
                    <abp-input asp-for="@Model.Comment" placeholder="Add a comment" id="addCommentTextArea" label="Comments"/>
                    <input type="hidden" name="ApplicationFormSubmissionId" value="@Model.ApplicationFormSubmissionId" />

                    <div class="comment-message-button-area">
                        <abp-button id="addCommentBtn"
                            text="Save"
                            icon="save"
                            type="submit"
                            button-type="Primary"/>
                    </div>
                </div>
        </div>
    </div>
</form>

<div class="row" style="margin-top:10px;">
@foreach (var comment in Model.CommentList)
{
    @if (comment != null)
    {
       <form method="post" asp-page-handler="OnPostAsync"> 
            <div id="widget" name="widget-div">
                <div id="overlay" style="display: none">
                    <i id="edit-comment" class="fas fa-edit" name="edit-comment" data-toggle="tooltip" data-placement="left"  title="Edit Comment"></i>
                    <i id="delete-comment" class="fas fa-trash"  style="display: none;" name="delete-comment" data-toggle="tooltip" data-placement="left"  title="Delete Comment" title="Delete"></i>
                </div>
                <textarea  
                    readonly="true"
                    name="@Html.NameFor(m => m.Comment)" 
                    class="form-control"
                    value="@comment.Comment"
                    style="margin-top: 4px;margin-bottom: 4px;">@comment.Comment</textarea>

                <div id="comment-buttons" class="comment-message-button-area" style="display: none">
                    <abp-button id="cancelCommentBtn"
                        text="Cancel"
                        type="button"
                        class="btn"
                        />

                    <abp-button id="updateCommentBtn"
                        text="Update"
                        type="submit"
                        class="btn"
                        disabled="true"
                        />
                </div>
                <input type="hidden" name="CommentId" value="@comment.Id"/>
                <input type="hidden" name="ApplicationFormSubmissionId" value="@Model.ApplicationFormSubmissionId" />
            </div>
       </form>
    }
}
</div>