@page "{@Model.ApplicationFormSubmissionId?}"
@using Unity.GrantManager.Localization
@using Unity.GrantManager.Web.Views.Shared.Components.CommentsWidget;
@using Unity.GrantManager.Web.Views.Shared.Components.ReviewList;
@using Unity.GrantManager.Web.Views.Shared.Components.UserInfoWidget;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization
@model DetailsModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Grants"].Value;
}
@section styles
    {
    <abp-style src="/libs/formiojs/formio.form.css" />
    <abp-style src="/Pages/GrantApplications/Details.css" />
}
@section scripts
    {
    <abp-script src="/Pages/GrantApplications/Details.js" />
    <abp-script src="/libs/formiojs/formio.form.js" />
    <abp-script src="/libs/jspdf/dist/jspdf.umd.js" />
    <abp-script src="/libs/html2canvas/dist/html2canvas.min.js" />
   }

@await Component.InvokeAsync("DetailsActionBar", new { ApplicationId = @Model.ApplicationFormSubmissionId })

<input type="hidden" id="DetailsViewApplicationId" value="@Model.ApplicationId" />
<input type="hidden" id="ApplicationFormSubmissionId" value="@Model.ApplicationFormSubmissionId" />
<input type="hidden" id="CurrentUserId" value="@Model.CurrentUserId" />
<input type="hidden" id="CurrentUserName" value="@Model.CurrentUserName" />
<input type="hidden" id="Extensions" value="@Model.Extensions" />
<input type="hidden" id="MaxFileSize" value="@Model.MaxFileSize" />
@functions
{
    public string GetInitials(string name)
    {
        // StringSplitOptions.RemoveEmptyEntries excludes empty spaces returned by the Split method
        string[] nameSplit = name.Split(new string[] { ",", " " }, StringSplitOptions.RemoveEmptyEntries);

        string initials = "";

        foreach (string item in nameSplit)
        {
            initials += item.Substring(0, 1).ToUpper();
        }

        return initials;
    }
}
<abp-row class="m-0 h-100">
    <abp-column size="_8" class="p-0">
        <abp-card>
            <abp-tabs name="detailsTab" id="detailsTab" class="nav-justified">

                @*-------- Application Summary Section ---------*@
                <abp-tab name="nav-summery" active="true" title="Application Summary">
                  
                    <div class="container-fluid">
                        <abp-row>
                            <abp-column size="_12">
                                <abp-button icon="fl fl-pdf" icon-type="Other" id="printPdf" class="pdf-icon"></abp-button>
                                @*TODO: Put FormIO handler here!*@
                                <div id="formio"></div>

                            </abp-column>

                        </abp-row>
                    </div>
                    <abp-row>
                        <abp-column size="_12" class="spinner-loader">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </abp-column>
                    </abp-row>
                </abp-tab>
                @*-------- Application Summary Section END ---------*@

                @*-------- Review & Assessment Section ---------*@
                <abp-tab name="nav-review-and-assessment" title="Review & Assessment">
                    <div class="w-100 px-2" id="assessmentMainView">
                        @await Component.InvokeAsync("ReviewList")
                    </div>
                    <abp-row id="assessmentAddReviewView" class="p-2" style="display:none;">
                        <abp-column size="_12">
                            <abp-row>
                                <abp-column size="_12" class="back-button-container">
                                    <abp-button id="backBtn" class="btn-sm back-btn" icon="angle-left" text="Back to Review List" />
                                </abp-column>
                                <abp-column size="_8">
                                    <h4 class="review-heading">Assessment Result Attachments</h4>
                                </abp-column>
                                <abp-column size="_4" class="add-review-btn-container">

                                </abp-column>
                            </abp-row>

                        </abp-column>
                    </abp-row>
                </abp-tab>
                @*-------- Review & Assessment Section END ---------*@

                @*-------- Approval Section ---------*@
                <abp-tab name="nav-approval" title="Approval">
                    Approval View
                </abp-tab>
                @*-------- Approval Section END ---------*@

            </abp-tabs>
        </abp-card>
    </abp-column>
    <abp-column size="_4" class="pe-0 ps-2">
        <abp-card class="right-card">
            <ul class="nav nav-tabs details-nav" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="home" aria-selected="true">Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false"> <i class="fl fl-history" aria-hidden="true"></i> (0)</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false"> <i class="fl fl-comments" aria-hidden="true"></i> (<span id="application_comments_count">0</span>)</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="links-tab" data-bs-toggle="tab" data-bs-target="#links" type="button" role="tab" aria-controls="links" aria-selected="false"><i class="fl fl-link" aria-hidden="true"></i> (0)</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="attachments-tab" data-bs-toggle="tab" data-bs-target="#attachments" type="button" role="tab" aria-controls="attachments" aria-selected="false"><i class="fl fl-paperclip" aria-hidden="true"></i> (<span id="application_attachment_count">0</span>)</button>
                </li>
            </ul>


            <div class="tab-content details-scrollable" id="myTabContent">

                @*-------- Details Tab Section ---------*@
                <div class="tab-pane  fade show active" id="details" role="tabpanel" aria-labelledby="home-tab">
                    <div id="applicationDetails">
                        <div id="applicationStatusWidget">
                            @await Component.InvokeAsync("ApplicationStatusWidget", new { applicationId = Model.ApplicationId })
                        </div>
                    </div>
                    <div id="reviewDetails" style="display:none">
                        <input type="hidden" id="AssessmentId" value="" />
                        <div id="assessmentUserDetailsWidget">
                        @await Component.InvokeAsync("UserInfoWidget", new { displayName = "" , title = "" })

                        </div>

                        <h6 class="fw-bold px-3 pt-4 pb-2">Assessment Result Attachments</h6>

                        @await Component.InvokeAsync("AssessmentResultAttachments")

                        <div class="d-flex justify-content-end m-3">                            
                            <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                                <input id="assessment_upload" name="assessment_upload" type="file" size="1" multiple onchange="uploadAssessmentFiles('assessment_upload');" style="display: none" />
                                <abp-button text="Add Attachments"
                                            id="assessment_upload_btn"
                                            class="assessment-upload-btn"
                                            icon-type="Other"
                                            icon="fl fl-plus"
                                            button-type="Light" />
                            </form>
                        </div>

                        <div class="m-3">
                            <h6 class="fw-bold py-2 m-0">Recommendation</h6>
                            <abp-select id="recommendation_select" name="recommendation_select" asp-for="SelectedAction" suppress-label="true" asp-items="@Model.ActionList" class="">
                                <option value="null" disabled>Please Choose...</option>
                            </abp-select>

                        </div>

                        <div class="p-3">
                            <h6 class="fw-bold m-0">Comments</h6>
                            <div id="assessmentCommentsWidget">
                                @await Component.InvokeAsync("CommentsWidget", new { commentType = 1 })
                            </div>
                        </div>

                    </div>
                </div>
                @*-------- Details Tab Section END ---------*@

                @*-------- History Tab Section ---------*@
                <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
                    <h6>History View</h6>
                </div>
                @*-------- History Tab Section END ---------*@

                @*-------- Comments Tab Section ---------*@
                <div class="tab-pane" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                    <h6 class="fw-bold px-3 pt-4 pb-2 m-0">Comments</h6>
                    <div class="px-3 pb-2" id="applicationCommentsWidget">
                        @await Component.InvokeAsync("CommentsWidget", new { ownerId = Model.ApplicationId, commentType = 0, currentUserId = Model.CurrentUserId })
                    </div>
                </div>
                @*-------- Comments Tab Section END ---------*@

                @*-------- Links Tab Section ---------*@
                <div class="tab-pane" id="links" role="tabpanel" aria-labelledby="links-tab">
                    <h6>Links View</h6>
                </div>
                @*-------- Links Tab Section END ---------*@

                @*-------- Attachments Tab Section ---------*@
                <div class="tab-pane" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">

                    @await Component.InvokeAsync("ApplicationAttachments")

                    <div class="d-flex justify-content-end m-3">                        
                        <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                            <input id="application_attachment_upload" name="application_attachment_upload" type="file" size="1" multiple onchange="uploadApplicationFiles('application_attachment_upload');" style="display: none" />
                            <abp-button text="Add Attachments"
                                        id="application_attachment_upload_btn"
                                        icon-type="Other"
                                        icon="fl fl-plus"
                                        button-type="Light" />
                        </form>
                    </div>
                </div>
                @*-------- Attachments Tab Section END ---------*@
            </div>

        </abp-card>
    </abp-column>
</abp-row>



