@page "{formId:guid?}"
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantApplications";
    PageLayout.Content.Title = L["Applications"].Value;
    ViewBag.UserName = "Test User";
    ViewBag.PageTitle = "Ministry of Silly Walks - Universal Grant Program";
}
@section scripts
{
    @if (Model.FormId == null)
    {
        <script>
            let users = [];
            @foreach (var user in Model.Users) {
                @:users.push("{'Id':" + "'@user.Id', 'UserName':" + "'@user.UserName', 'FirstName':" + "'@user.Name', 'LastName':" + "'@user.Surname', 'Email':" + "'@user.Email'}");
            }
        </script>
        <abp-script src="/libs/select2/js/select2.full.min.js"/>
        <abp-script src="/Pages/GrantApplications/Index.js" />
    }
    else
    {
        <abp-script src="/Pages/GrantApplications/Intake.js" />
    }
}

@section styles {
    <abp-style src="/Pages/GrantApplications/Index.css" />
}

<div class="container-fluid px-2">
    @await Component.InvokeAsync("ActionBar")
    <div class="application-scrollable-content">
        <div id="users-div" style="width: auto;" class="hidden">
            <abp-select id="users" 
                        asp-for="@Model.AssigneeId" 
                        asp-items="@Model.AssigneeList" 
                        label="Users"
                        multiple="multiple"  
                        suppress-label="true"
                        data-placeholder="Select a user"
                        placeholder="Select a user"
                        data-allow-clear="true"
                        class="select2-selection select2-selection--multiple">
            </abp-select>
        </div>

        <abp-table id="GrantApplicationsTable"></abp-table>
    </div>
</div>

<input type="hidden" id="PassFormIdToJavaScript" value=@Model.FormId>

<div class="offcanvas offcanvas-end container-fluid px-2" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="applicationAsssessmentSummary" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel"></h5>
        <button type="button" id="closeSummaryCanvas" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <h6 class="fw-bold px-3 pt-4 pb-2">Application Summary</h6>
            <table aria-describedby="Application Summary" style="width:100%;border-collapse:separate;border-spacing: 10px 10px;">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="2">
                        Funding Stream <br />
                        <input name="fundingStream" id="fundingStream" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Type <br />
                        <input name="type" id="type" style="width:100%;" />
                    </td>
                    <td>
                        Submission Date <br />
                        <input name="submissionDate" id="submissionDate" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Organization Name <br />
                        <input name="organizationName" id="organizationName" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Organization # <br />
                        <input name="orgNumber" id="orgNumber" style="width:100%;" />
                    </td>
                    <td>
                        Economic Region <br />
                        <input name="economicRegion" id="economicRegion" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        City <br />
                        <input name="city" id="city" style="width:100%;" />
                    </td>
                    <td>
                        Community <br />
                        <input name="community" id="community" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Requested Amount <br />
                        <input name="requestedAmount" id="requestedAmount" style="width:100%;" />
                    </td>
                    <td>
                        Project Budget <br />
                        <input name="projectBudget" id="projectBudget" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Sector <br />
                        <input name="sector" id="sector" style="width:100%;" />
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <h6 class="fw-bold px-3 pt-4 pb-2">Assessment Summary</h6>
            <table aria-describedby="Assessment Summary" style="width:100%;border-collapse:separate;border-spacing: 10px 10px;">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td style="vertical-align:bottom;">
                        Status <br />
                        <input name="status" id="status" style="width:100%;" />
                    </td>
                    <td style="vertical-align:bottom;">
                        Likelihood Of Funding <br />
                        <input name="likelihoodOfFunding" id="likelihoodOfFunding" style="width:100%;" />
                    </td>
                </tr>         
                <tr>
                    <td style="vertical-align:bottom;">
                        Assessment Start Date <br />
                        <input name="assessmentStartDate" id="assessmentStartDate" style="width:100%;" />
                    </td>
                    <td style="vertical-align:bottom;">
                        Final Decision Date <br />
                        <input name="finalDecisionDate" id="finalDecisionDate" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:bottom;">
                        Total Score <br />
                        <input name="totalScore" id="totalScore" style="width:100%;" />
                    </td>
                    <td style="vertical-align:bottom;">
                        Assessment Result(Pass/Fail) <br />
                        <input name="assessmentResult" id="assessmentResult" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:bottom;">
                        Recommended Amount <br />
                        <input name="recommendedAmount" id="recommendedAmount" style="width:100%;" />
                    </td>
                    <td style="vertical-align:bottom;">
                        Approved Amount <br />
                        <input name="approvedAmount" id="approvedAmount" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Batch # <br />
                        <input name="batch" id="batch" style="width:100%;" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>