@page "{formId:guid?}"
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantApplications";
    PageLayout.Content.Title = L["Applications"].Value;
    ViewBag.UserName = "Test User";
    ViewBag.PageTitle = "Ministry of Teleportation - Breakfast Grant Program";
}
@section scripts
{
    @if (Model.FormId == null)
    {
        <script>
            let users = [];
            @foreach (var user in Model.Users) {
                @:users.push("{'Id':" + "'@user.Id', 'UserName':" + "'@user.UserName', 'FirstName':" + "'@user.Name', 'LastName':" + "'@user.Surname', 'Email':" + "'@user.Email'}");
            }
        </script>
        <abp-script src="/libs/select2/js/select2.full.min.js"/>
        <abp-script src="/Pages/GrantApplications/Index.js" />
    }
    else
    {
        <abp-script src="/Pages/GrantApplications/Intake.js" />
    }
}

@section styles {
    <abp-style src="/Pages/GrantApplications/Index.css" />
}

<div class="container-fluid px-2">
    @await Component.InvokeAsync("ActionBar")
    <div class="application-scrollable-content">
        <div id="users-div" style="width: auto;" class="hidden">
            <abp-select id="users" 
                        asp-for="@Model.AssigneeId" 
                        asp-items="@Model.AssigneeList" 
                        label="Users"
                        multiple="multiple"  
                        suppress-label="true"
                        data-placeholder="Select a user"
                        placeholder="Select a user"
                        data-allow-clear="true"
                        class="select2-selection select2-selection--multiple">
            </abp-select>
        </div>

        <abp-table id="GrantApplicationsTable"></abp-table>
    </div>
</div>

<input type="hidden" id="PassFormIdToJavaScript" value=@Model.FormId>
