@page "{formId:guid?}"
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantApplications";
    PageLayout.Content.Title = L["Applications"].Value;
    ViewBag.UserName = "Test User";
    ViewBag.PageTitle = "Teleportation Ministry Grant Program";
}
@section scripts
{
    @if (Model.FormId == null)
    {
        <script>
            let users = [];
            @foreach (var user in Model.Users) {
                @:users.push("{'Id':" + "'@user.Id', 'UserName':" + "'@user.UserName', 'FirstName':" + "'@user.Name', 'LastName':" + "'@user.Surname', 'Email':" + "'@user.Email'}");
            }
        </script>
        <abp-script src="/Pages/GrantApplications/Index.js" />
        <abp-script src="/libs/datatables/js/dataTables.select.min.js" />
        <abp-script src="/libs/datatables/js/select.bootstrap.min.js" />
        <abp-script src="/libs/pubsub-js/src/pubsub.js" />
    }
    else
    {
        <abp-script src="/Pages/GrantApplications/Intake.js" />
    }
}

@section styles {
    <abp-style src="/libs/datatables/css/select.bootstrap.min.css" />
    <abp-style src="/Pages/GrantApplications/Index.css" />
}



<div class="container-fluid px-2">
    @await Component.InvokeAsync("ActionBar")

    <abp-table id="GrantApplicationsTable"></abp-table>
</div>

<input type="hidden" id="PassFormIdToJavaScript" value=@Model.FormId>
