@page
@using Microsoft.Extensions.Localization
@using Unity.GrantManager.Localization
@using Unity.GrantManager.GrantApplications
@using Volo.Abp.AspNetCore.Mvc.UI.Layout

@model Unity.GrantManager.Web.Pages.ApplicantPortalSettings.IndexModel

@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["ApplicantPortalSettings:Title"].Value;
    ViewBag.PageTitle = L["ApplicantPortalSettings:Title"].Value;
}

@section styles {
    <abp-style src="/Pages/ApplicantPortalSettings/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/ApplicantPortalSettings/CharacterCounter.js" />
    <abp-script src="/Pages/ApplicantPortalSettings/Index.js" />
}

<div class="breadcrumb-container mb-4">
    <h5 class="fw-bold m-0">@ViewBag.PageTitle</h5>
</div>
<div class="row g-0 portal-settings-layout w-100">
    <aside id="PortalSettingsSideMenu" class="side-menu col-12 col-md-auto" style="margin-left: -0.5rem;">
        <ul>
            <li id="manage-statuses-menu-item" class="nav-item btn btn-nav active ps-3 pe-4">
                @L["ApplicantPortalSettings:ManageStatuses"]
            </li>
            @if (Model.CanEditProgramDetails)
            {
                <li id="program-details-menu-item" class="nav-item btn btn-nav ps-3 pe-4">
                    @L["ApplicantPortalSettings:ProgramDetails"]
                </li>
            }
        </ul>
    </aside>
    <main class="col-12 col-md d-flex justify-content-center">
        <div id="portal-status-div" class="input-area card mb-3 portal-settings-config portal-settings-config-panel active">
            <div class="container-fluid px-0">
                <div class="px-3 pt-1 pb-2">
                    <h5 class="fw-bold">@L["ApplicantPortalSettings:PortalStatusHeading"]</h5>
                </div>
                <form id="PortalStatusForm">
                    <div class="px-3 py-0">
                        <table id="PortalStatusTable" class="table table-striped portal-status-table">
                            <thead>
                                <tr>
                                    <th>@L["ApplicantPortalSettings:InternalStatus"]</th>
                                    <th>@L["ApplicantPortalSettings:PortalStatusLabel"]</th>
                                    <th>@L["ApplicantPortalSettings:PortalNotifiedStatusLabel"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Statuses.Count; i++)
                                {
                                    var status = Model.Statuses[i];
                                    <tr>
                                        <td class="align-middle">
                                            <label for="Statuses[@i].ExternalStatus">@status.InternalStatus</label>
                                        </td>
                                        <td>
                                            <input type="hidden"
                                                   name="Statuses[@i].Id"
                                                   value="@status.Id" />
                                            <input type="text"
                                                   class="form-control"
                                                   id="Statuses[@i].ExternalStatus"
                                                   name="Statuses[@i].ExternalStatus"
                                                   value="@status.ExternalStatus"
                                                   required
                                                   maxlength="250" />
                                        </td>
                                        <td>
                                            <input type="text"
                                                   class="form-control"
                                                   id="Statuses[@i].NotifiedStatus"
                                                   name="Statuses[@i].NotifiedStatus"
                                                   value="@status.NotifiedStatus"
                                                   maxlength="250"
                                                   placeholder="-" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex gap-2 px-3 pt-3 portal-settings-actions">
                        <abp-button id="SaveButton"
                                    button-type="Primary"
                                    type="submit"
                                    text="@L["ApplicantPortalSettings:SaveChanges"].Value" />
                        <abp-button id="ResetButton"
                                    button-type="Secondary"
                                    type="button"
                                    text="@L["ApplicantPortalSettings:ResetChanges"].Value" />
                    </div>
                </form>
            </div>
        </div>

        @if (Model.CanEditProgramDetails)
        {
            <div id="program-details-div" class="input-area card mb-3 portal-settings-config portal-settings-config-panel d-none">
                <div class="container-fluid px-0">
                    <div class="px-3 pt-1 pb-2">
                        <h5 class="fw-bold">@L["ApplicantPortalSettings:ProgramDetailsHeading"]</h5>
                    </div>
                    <form id="ProgramDetailsForm">
                        <div class="px-3 py-0">
                            <div class="mb-3">
                                <label class="form-label" for="ProgramDetailsDisplayName">@L["ApplicantPortalSettings:DisplayName"]</label>
                                <input type="text"
                                       class="form-control"
                                       id="ProgramDetailsDisplayName"
                                       name="displayName"
                                       value="@Model.ProgramDetails.DisplayName"
                                       maxlength="@ApplicantPortalProgramDetailsConsts.MaxDisplayNameLength"
                                       data-char-count="@ApplicantPortalProgramDetailsConsts.MaxDisplayNameLength" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="ProgramDetailsDivision">@L["ApplicantPortalSettings:Division"]</label>
                                <input type="text"
                                       class="form-control"
                                       id="ProgramDetailsDivision"
                                       name="division"
                                       value="@Model.ProgramDetails.Division"
                                       maxlength="@ApplicantPortalProgramDetailsConsts.MaxDivisionLength"
                                       data-char-count="@ApplicantPortalProgramDetailsConsts.MaxDivisionLength" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="ProgramDetailsBranch">@L["ApplicantPortalSettings:Branch"]</label>
                                <input type="text"
                                       class="form-control"
                                       id="ProgramDetailsBranch"
                                       name="branch"
                                       value="@Model.ProgramDetails.Branch"
                                       maxlength="@ApplicantPortalProgramDetailsConsts.MaxBranchLength"
                                       data-char-count="@ApplicantPortalProgramDetailsConsts.MaxBranchLength" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="ProgramDetailsDescription">@L["ApplicantPortalSettings:Description"]</label>
                                <textarea class="form-control"
                                          id="ProgramDetailsDescription"
                                          name="description"
                                          rows="4"
                                          maxlength="@ApplicantPortalProgramDetailsConsts.MaxDescriptionLength"
                                          data-char-count="@ApplicantPortalProgramDetailsConsts.MaxDescriptionLength">@Model.ProgramDetails.Description</textarea>
                            </div>
                        </div>
                        <div class="d-flex gap-2 px-3 pt-3 portal-settings-actions">
                            <abp-button id="ProgramDetailsSaveButton"
                                        button-type="Primary"
                                        type="submit"
                                        text="@L["ApplicantPortalSettings:SaveChanges"].Value" />
                            <abp-button id="ProgramDetailsResetButton"
                                        button-type="Secondary"
                                        type="button"
                                        text="@L["ApplicantPortalSettings:ResetChanges"].Value" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </main>
</div>
