@page
@model Unity.GrantManager.Web.Pages.Dashboard.IndexModel
@using Unity.GrantManager.Web.Pages.Dashboard

@section styles {
    <abp-style src="/Pages/Dashboard/Index.css" />
    <abp-style src="/libs/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <abp-style src="/libs/bootstrap/css/bootstrap.css" />
}
@section scripts
{
    <abp-script src="/libs/jquery/jquery.js" />
    <abp-script src="/libs/popper.js/dist/umd/popper.js"></abp-script>
    <abp-script src="/Pages/Dashboard/Index.js" />
    <abp-script src="/libs/bootstrap-4/dist/js/bootstrap.js"></abp-script>
    <abp-script src="/libs/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></abp-script>
   
}
<div class="dashboard-scrollable-content">

<div id="dashboardIntakeList" style="display: none;">@Html.Raw(Json.Serialize(Model.DashboardIntakes))</div>
<div class="d-flex align-items-stretch gap-2">
    <abp-row class="m-0 p-0">
        <abp-column size="_3" class="px-1 application-dashboard-dropdown">
            <abp-select asp-for="@Model.IntakeIds" asp-items="@Model.IntakeOptionsList" id="dashboardIntakeId" multiple>
            </abp-select>
        </abp-column>
        <abp-column size="_3" class="px-1 application-dashboard-dropdown">
            <abp-select asp-for="@Model.CategoryNames" asp-items="@Model.CategoryOptionsList" id="dashboardCategoryName" multiple
                        onchange="reloadDashboard()">
            </abp-select>
        </abp-column>
        <abp-column size="_3" class="px-1 application-dashboard-dropdown">
            <abp-select asp-for="@Model.Statuses" asp-items="@Model.StatusOptionsList" id="dashboardStatuses" multiple
                        onchange="reloadDashboard()">
            </abp-select>
        </abp-column>
        <abp-column size="_3" class="px-1 application-dashboard-dropdown">
            <abp-select asp-for="@Model.SubStatuses" asp-items="@Model.SubStatusActionList" id="dashboardSubStatus" multiple
                        onchange="reloadDashboard()">
            </abp-select>
        </abp-column>
    </abp-row>
</div>
<div class="row col-md-12 application-dashboard">
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="applicationStatusChart"></div>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="sectorChart"></div>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="economicRegionChart"></div>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="applicationTagsChart"></div>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="subsectorRequestedAmountChart"></div>
            </abp-card-body>
        </abp-card>
    </div>
</div>

</div>