@using Unity.Flex.Web.Views.Shared.Components.DataGridWidget;

@model DataGridViewModel;

@if (Model.Field != null)
{
    <abp-row class="m-0 p-0">
        <table id="gridToBeExplicitNamed" class="display">
            <caption></caption>
            <thead>
                <tr>
                    @foreach (var column in Model.Columns)
                    {
                        <th>@column</th>
                    }
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Rows)
                {
                    <tr>
                        @foreach (var cell in row.Cells)
                        {
                            <td>
                                @cell.Value
                            </td>
                        }
                        <td>                            
                            <abp-button id="editRowDataBtn"
                                        class="btn btn-edit"
                                        text="Edit"
                                        onclick="openEditModal()"
                                        type="button"></abp-button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </abp-row>
    <abp-row>
        @foreach (var field in Model.Summary.Fields)
        {
            <label for="@field.Key">@field.Label</label>
            <input type="text" name="@field.Key" id="@field.Key" disabled value="@field.Value" />
        }
    </abp-row>
}