@using Microsoft.AspNetCore.Authorization;
@using Unity.GrantManager.Localization;
@using Microsoft.Extensions.Localization;
@using Unity.GrantManager.Web.Views.Shared.Components.ApplicationActionWidget;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button;

@model ApplicationActionWidgetViewModel;

@inject IStringLocalizer<GrantManagerResource> L
@inject IAuthorizationService AuthorizationService

@{
    var actionButtonType = Model.IsRedStop ? AbpButtonType.Danger : AbpButtonType.Light;
    var actionButtonTitleText = Model.IsRedStop ? L["GrantApplication:ActionButton.RedStopWarning"].Value : string.Empty;
}

<input type="hidden" id="actionWidget_ApplicantIsRedStop" value="@Model.IsRedStop.ToString().ToLower()" />
<abp-dropdown id="ApplicationActionDropdown">
    <abp-dropdown-button button-type=@(actionButtonType)
        text="@L["GrantApplication:ActionButtonName"].Value"
        title="@actionButtonTitleText" />
    <ul class="dropdown-menu">
        @foreach (var item in Model.ApplicationActions.Items.Where(x => x.IsAuthorized))
        {
            <li>
                <abp-button id="@($"Application_{item.ApplicationAction}Button")"
                            button-type="Light"
                            class="dropdown-item details-dropdown-action"
                            disabled=@(!item.IsPermitted || Model.IsRedStop)
                            data-app-action="@item.ApplicationAction.ToString()">
                    @L[$"Enum:GrantApplicationAction.{item.ApplicationAction}"].Value
                </abp-button>
            </li>
        }
    </ul>
</abp-dropdown>
