@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Unity.Flex.Localization
@using Unity.Flex.Web.Views.Shared.Components.WorksheetList
@using Unity.GrantManager.Localization
@using Unity.GrantManager.Web.Pages.ConfigurationManagement
@using Unity.Modules.Shared
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.Authorization.Permissions
@using Volo.Abp.Features
@model IndexModel

@inject IHtmlLocalizer<GrantManagerResource> L
@inject IStringLocalizer<FlexResource> FL
@inject IPermissionChecker PermissionChecker
@inject IFeatureChecker FeatureChecker
@inject IPageLayout PageLayout

@{
    PageLayout.Content.MenuItemName = Unity.GrantManager.Web.Menus.GrantManagerMenus.ConfigurationManagement;
    ViewBag.PageTitle = "Configuration Management";
}

@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/ConfigurationManagement/Index.css" />
        <abp-style src="/Pages/ConfigurationManagement/PaymentConfigurations.css" />
        <abp-style src="/Pages/ConfigurationManagement/WorksheetConfiguration.css" />
        <abp-style src="/Pages/ConfigurationManagement/ScoresheetConfiguration.css" />
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/ConfigurationManagement/Index.js" />
        <abp-script src="/Pages/ConfigurationManagement/PaymentConfigurations.js" />
        <abp-script src="/Pages/ConfigurationManagement/WorksheetConfiguration.js" />
        <abp-script src="/Pages/ConfigurationManagement/ScoresheetConfiguration.js" />
        <abp-script src="/libs/sortablejs/Sortable.js" />
    </abp-script-bundle>
}

<!-- Side Menu -->
<div id="ConfigurationManagementSideMenu" class="side-menu">
    <ul>
        <li id="notifications-menu-item" class="nav-item btn btn-nav active" data-target="notifications-div">
            Notifications
        </li>
        <li id="payments-menu-item" class="nav-item btn btn-nav" data-target="payments-div">
            Payments
        </li>
        <li id="custom-fields-menu-item" class="nav-item btn btn-nav" data-target="custom-fields-div">
            Custom Fields
        </li>
        <li id="scoresheets-menu-item" class="nav-item btn btn-nav" data-target="scoresheets-div">
            Scoresheets
        </li>
        <li id="tags-menu-item" class="nav-item btn btn-nav" data-target="tags-div">
            Tags
        </li>
        <li id="ai-menu-item" class="nav-item btn btn-nav" data-target="ai-div">
            AI
        </li>
    </ul>
</div>

<!-- Notifications -->
<div id="notifications-div" class="config-section input-area card mb-3 config-management">
    @await Component.InvokeAsync(typeof(Unity.Notifications.Web.Views.Settings.NotificationsSettingGroup.NotificationsSettingViewComponent))
</div>

<!-- Payments -->
<div id="payments-div" class="config-section input-area card mb-3 config-management hide">
    <input type="hidden" id="AccountCodingId" value="@Model.AccountCodingId" />

    <div class="container-fluid px-0">
        <div class="unity-page-titlebar">
            <h4 class="m-0">Payments</h4>
        </div>

        <nav>
            <div class="nav nav-tabs" id="payments-nav-tab" role="tablist">
                <button class="nav-link active" id="nav-account-coding-tab" data-bs-toggle="tab" data-bs-target="#nav-account-coding" type="button" role="tab">
                    Account Coding
                </button>
                <button class="nav-link" id="nav-payment-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-payment-settings" type="button" role="tab">
                    Payment Settings
                </button>
            </div>
        </nav>

        <div class="tab-content unt-tab-content" id="payments-nav-tabContent">

            <!-- Account Coding Tab -->
            <div class="tab-pane fade show active" id="nav-account-coding" role="tabpanel" aria-labelledby="nav-account-coding-tab">
                <div class="action-bar p-2 filter-search-action-bar">
                    <div class="unity-page-titlebar">
                        <h4>Account Codes</h4>
                    </div>
                    <div class="filter-search-action-bar_search-wrapper">
                        <input type="search" id="search-data-table" placeholder="Search" class="tbl-search">
                    </div>
                    <div class="btn-group" id="app_custom_buttons"></div>
                    <div id="dynamicButtonContainerId" class="dynamic-buttons-div button-gap-1"></div>
                </div>
                <div class="p-3 pt-0">
                    <abp-table id="AccountCodesDataTable"></abp-table>
                </div>
            </div>

            <!-- Payment Settings Tab -->
            <div class="tab-pane fade" id="nav-payment-settings" role="tabpanel" aria-labelledby="nav-payment-settings-tab">
                <abp-row>
                    <abp-column size="_12" class="p-3">
                        <h4>Payment Settings</h4>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column size="_12" class="p-3">
                        <span class="form-label">Payment ID Prefix</span>
                        <input id="payment-id-prefix-original" type="hidden" value="@Model.PaymentIdPrefix">
                        <input id="payment-id-prefix" maxlength="5" type="text" value="@Model.PaymentIdPrefix" class="valid form-control">
                    </abp-column>
                </abp-row>
                <div class="d-flex p-2">
                    <abp-button id="PaymentPrefixSaveButton"
                                text="Save Changes"
                                button-type="Primary" class="me-2"
                                type="submit" />
                    <abp-button id="PaymentPrefixDiscardButton"
                                text="Discard Changes"
                                button-type="Light" class="me-2"
                                disabled="true" />
                </div>
                <hr />
                <abp-row>
                    <abp-column size="_12" class="p-3">
                        <h4>Level 2 Approval Threshold</h4>
                        <label class="display-input-label" for="paymentSettingsDynamicButtonContainerId">
                            Please Note the following table is generated from Users created with the Role of l2_approver
                        </label>
                    </abp-column>
                </abp-row>
                <div class="btn-group" id="app_custom_buttons">
                    <div id="paymentSettingsDynamicButtonContainerId" class="dynamic-buttons-div button-gap-1"></div>
                </div>
                <div class="p-3 pt-0">
                    <abp-table id="PaymentSettingsDataTable" />
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Custom Fields (Worksheets) -->
<div id="custom-fields-div" class="config-section input-area card mb-3 config-management hide">
    @if (await FeatureChecker.IsEnabledAsync("Unity.Flex"))
    {
        <input type="hidden" id="MaxFileSize" value="@Model.MaxFileSize" />
        <div class="worksheet-scrollable-content">
            <abp-row class="m-0 h-100 worksheet-configuration-container">
                <abp-column class="p-0">
                    <abp-card>
                        <abp-card-body>
                            <h4><b>Worksheets</b></h4>
                            <div class="d-flex justify-content-end m-3">
                                <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                                    <input id="worksheet_import_upload" name="worksheet_import_upload" type="file" size="1" onchange="importWorksheetFile('worksheet_import_upload');" style="display: none" />
                                    <abp-button text="Import Worksheet"
                                                id="worksheet_import_upload_btn"
                                                icon-type="Other"
                                                icon="fl fl-import"
                                                button-type="Light" />
                                </form>
                            </div>
                            <div id="worksheet-info-widget-list">
                                @await Component.InvokeAsync(typeof(WorksheetListWidget))
                            </div>
                            <div class="p-4">
                                <abp-button text="@FL["Worksheet:Configuration:AddWorksheetButtonText"].Value"
                                            id="add_worksheet_btn"
                                            icon-type="Other"
                                            icon="fl fl-plus"
                                            button-type="Light" />
                            </div>
                        </abp-card-body>
                    </abp-card>
                </abp-column>
                <abp-column class="pe-0 ps-2 preview-scrollable">
                    <abp-card class="right-card sticky-preview">
                        <abp-card-body>
                            <h4><b>Preview</b></h4>
                            <div id="preview">
                                <p>No sections to display.</p>
                            </div>
                        </abp-card-body>
                    </abp-card>
                </abp-column>
            </abp-row>
        </div>
    }
</div>

<!-- Scoresheets -->
<div id="scoresheets-div" class="config-section input-area card mb-3 config-management hide">
    @if (await FeatureChecker.IsEnabledAsync("Unity.Flex"))
    {
        <div class="scoresheet-scrollable-content">
            <abp-row class="m-0 h-100 scoresheet-configuration-container">
                <abp-column class="p-0 scoresheet-column">
                    <abp-card>
                        <abp-card-body>
                            <h4><b>Scoresheets</b></h4>
                            <div class="d-flex justify-content-end m-3">
                                <form id="scoresheet-form" name="scoresheet-form" action="/uploader" enctype="multipart/form-data" method="post">
                                    <input id="scoresheet_import_upload" name="scoresheet_import_upload" type="file" size="1" onchange="importScoresheetFile('scoresheet_import_upload');" style="display: none" />
                                    <abp-button text="Import Scoresheet"
                                                id="scoresheet_import_upload_btn"
                                                icon-type="Other"
                                                icon="fl fl-import"
                                                button-type="Light" />
                                </form>
                            </div>
                            <div id="scoresheet-info-widget">
                                @await Component.InvokeAsync("Scoresheet")
                            </div>
                            <div class="p-4">
                                <abp-button text="@FL["Scoresheet:Configuration:AddScoresheetButtonText"].Value"
                                            id="add_scoresheet_btn"
                                            icon-type="Other"
                                            icon="fl fl-plus"
                                            onclick="openScoresheetModal(null,'Add Scoresheet');"
                                            button-type="Light" />
                            </div>
                        </abp-card-body>
                    </abp-card>
                </abp-column>
                <abp-column class="pe-0 ps-2 preview-column">
                    <abp-card class="right-card">
                        <abp-card-body>
                            <h4><b>Preview</b></h4>
                            <div id="preview">
                            </div>
                        </abp-card-body>
                    </abp-card>
                </abp-column>
            </abp-row>
        </div>
    }
</div>

<!-- Tags -->
<div id="tags-div" class="config-section input-area card mb-3 config-management hide">
    @await Component.InvokeAsync(typeof(Unity.GrantManager.Web.Views.Settings.TagManagement.TagManagementViewComponent))
</div>

<!-- AI -->
<div id="ai-div" class="config-section input-area card mb-3 config-management hide">
    @await Component.InvokeAsync(typeof(Unity.AI.Web.Views.Settings.AISettingGroup.AISettingViewComponent))
</div>
