@using Microsoft.AspNetCore.Authorization;
@using Unity.Flex.Web.Views.Shared.Components.WorksheetInstanceWidget
@using Unity.GrantManager.Flex
@using Unity.GrantManager.Localization;
@using Microsoft.Extensions.Localization;
@using Unity.GrantManager.Web.Views.Shared.Components.ApplicantInfo;
@using Unity.GrantManager.Payments;
@using Unity.Modules.Shared.Correlation
@using Volo.Abp.Features;

@inject IAuthorizationService AuthorizationService
@inject IStringLocalizer<GrantManagerResource> L
@inject IFeatureChecker FeatureChecker
@model ApplicantInfoViewModel
@{
    Layout = null;
}

<input type="hidden" id="ApplicantInfoViewApplicationId" value="@Model.ApplicationId" />
<div id="orgApplicationSectorList" style="display: none;">@Html.Raw(Json.Serialize(Model.ApplicationSectors))</div>

<abp-row class="px-1 pb-2 mb-4 project-info-container">
    <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2">
        <div id="ApplicantInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
            <h6 class="ps-1 fw-bold">@L["ApplicantInfoView:ApplicantInfo.ApplicantInfoTitle"].Value</h6>
        </div>
        <abp-button text="Save" id="saveApplicantInfoBtn" class="floating-save-btn" icon-type="Other"
                    icon="fl fl-save" button-type="Primary" disabled="true" />
    </abp-column>
    <form id="ApplicantInfoForm">
        <abp-input type="hidden" id="ApplicantInfoViewApplicantId" asp-for="@Model.ApplicantId" />
        <abp-row class="m-0 project-info-form">
            <abp-row class="m-0 p-0">
                <abp-column size="_6" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.OrgName" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_6" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.OrgNumber" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_4" class="px-1">

                    <abp-select asp-for="@Model.ApplicantInfo.OrgStatus" asp-items="@Model.OrgBookStatusList" id="orgBookStatusDropdown"
                                onchange="enableSaveBtn(this)">
                        <option value="">Please choose...</option>
                    </abp-select>
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-select asp-for="@Model.ApplicantInfo.OrganizationType" asp-items="@Model.OrganizationTypeList" id="orgTypeDropdown"
                                onchange="enableSaveBtn(this)">
                        <option value="">Please choose...</option>
                    </abp-select>
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input class="numeric-mask" asp-for="@Model.ApplicantInfo.OrganizationSize" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_4" class="px-1">
                    <abp-select asp-for="@Model.ApplicantInfo.Sector" asp-items="@Model.ApplicationSectorsList" id="orgSectorDropdown"
                                onchange="enableSaveBtn(this)">
                        <option value="">Please choose...</option>
                    </abp-select>
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-select asp-for="@Model.ApplicantInfo.SubSector" asp-items="@Model.ApplicationSubSectorsList" id="orgSubSectorDropdown"
                                onchange="enableSaveBtn(this)">
                        <option value="">Please choose...</option>
                    </abp-select>
                </abp-column>
                <abp-row class="m-0 p-0">
                    <abp-column size="_12" class="px-1">
                        <abp-input asp-for="@Model.ApplicantInfo.SectorSubSectorIndustryDesc" onchange="enableSaveBtn(this)" />
                    </abp-column>
                </abp-row>

            </abp-row>
        </abp-row>
        <abp-row class="m-0 project-info-location">
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
                    <div id="ContactInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                        <h6 class="ps-1 fw-bold">@L["ApplicantInfoView:ApplicantInfoContactInfo"].Value</h6>
                    </div>
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.ContactFullName" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.ContactTitle" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.ContactEmail" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">

                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.ContactBusinessPhone" pattern="^(\+\s?)?((?<!\+.*)\(\+?\d+([\s\-\.]?\d+)?\)|\d+)([\s\-\.]?(\(\d+([\s\-\.]?\d+)?\)|\d+))*(\s?(x|ext\.?)\s?\d+)?$" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.ContactCellPhone" pattern="^(\+\s?)?((?<!\+.*)\(\+?\d+([\s\-\.]?\d+)?\)|\d+)([\s\-\.]?(\(\d+([\s\-\.]?\d+)?\)|\d+))*(\s?(x|ext\.?)\s?\d+)?$" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
        </abp-row>
        <abp-row class="m-0 signin-authority-form">
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
                    <div id="SigningAuthorityContactInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                        <h6 class="ps-1 fw-bold">@L["ApplicantInfoView:SigningAuthorityTitle"].Value</h6>
                    </div>
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.SigningAuthorityFullName" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.SigningAuthorityTitle" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.SigningAuthorityEmail" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.SigningAuthorityBusinessPhone" pattern="^(\+\s?)?((?<!\+.*)\(\+?\d+([\s\-\.]?\d+)?\)|\d+)([\s\-\.]?(\(\d+([\s\-\.]?\d+)?\)|\d+))*(\s?(x|ext\.?)\s?\d+)?$" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_4" class="px-1">
                    <abp-input asp-for="@Model.ApplicantInfo.SigningAuthorityCellPhone" pattern="^(\+\s?)?((?<!\+.*)\(\+?\d+([\s\-\.]?\d+)?\)|\d+)([\s\-\.]?(\(\d+([\s\-\.]?\d+)?\)|\d+))*(\s?(x|ext\.?)\s?\d+)?$" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
        </abp-row>

        <abp-row class="m-0 contact-info-form">
            <div class="d-flex">
                <abp-row class="m-0 physical-address-form pe-2">
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 ps-0 mt-3">
                            <div class="d-flex align-items-stretch justify-content-start">
                                <h6 class="ps-1 fw-bold">@L["ApplicantInfoView:PhysicalAddress"].Value</h6>
                            </div>
                        </abp-column>
                    </abp-row>
                    <abp-row class="m-0 p-0">
                    <abp-column size="_5" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.PhysicalAddressStreet" onchange="enableSaveBtn(this)" />
                        </abp-column>
                    <abp-column size="_5" class="px-1">
                        <abp-input asp-for="@Model.ApplicantInfo.PhysicalAddressStreet2" onchange="enableSaveBtn(this)" />
                    </abp-column>
                    <abp-column size="_2" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.PhysicalAddressUnit" onchange="enableSaveBtn(this)" />
                        </abp-column>
                        <abp-column size="_4" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.PhysicalAddressCity" onchange="enableSaveBtn(this)" />
                        </abp-column>
                        <abp-column size="_4" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.PhysicalAddressProvince" onchange="enableSaveBtn(this)" />
                        </abp-column>
                        <abp-column size="_4" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.PhysicalAddressPostalCode" onchange="enableSaveBtn(this)" />
                        </abp-column>
                    </abp-row>
                </abp-row>
                <abp-row class="m-0 mailing-address-form ps-2">
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 ps-0 mt-3">
                            <div class="d-flex align-items-stretch justify-content-start">
                                <h6 class="ps-1 fw-bold">@L["ApplicantInfoView:MailingAddress"].Value</h6>
                            </div>
                        </abp-column>
                    </abp-row>
                    <abp-row class="m-0 p-0">
                    <abp-column size="_5" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.MailingAddressStreet" onchange="enableSaveBtn(this)" />
                        </abp-column>
                    <abp-column size="_5" class="px-1">
                        <abp-input asp-for="@Model.ApplicantInfo.MailingAddressStreet2" onchange="enableSaveBtn(this)" />
                    </abp-column>
                    <abp-column size="_2" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.MailingAddressUnit" onchange="enableSaveBtn(this)" />
                        </abp-column>
                        <abp-column size="_4" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.MailingAddressCity" onchange="enableSaveBtn(this)" />
                        </abp-column>
                        <abp-column size="_4" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.MailingAddressProvince" onchange="enableSaveBtn(this)" />
                        </abp-column>
                        <abp-column size="_4" class="px-1">
                            <abp-input asp-for="@Model.ApplicantInfo.MailingAddressPostalCode" onchange="enableSaveBtn(this)" />
                        </abp-column>
                    </abp-row>
                </abp-row>
            </div>
        </abp-row>
      
        @if (await FeatureChecker.IsEnabledAsync("Unity.Flex"))
        {
            @await Component.InvokeAsync(typeof(WorksheetInstanceWidget),
                     new
                     {
                         instanceCorrelationId = Model.ApplicationId,
                         instanceCorrelationProvider = CorrelationConsts.Application,
                         sheetCorrelationId = Model.ApplicationFormVersionId,
                         sheetCorrelationProvider = CorrelationConsts.FormVersion,
                         uiAnchor = FlexConsts.ApplicantInfoUiAnchor
                     })
        }

        @if (await FeatureChecker.IsEnabledAsync(PaymentConsts.UnityPaymentsFeature))
        {
            <div id="supplier-info-widget">
                @await Component.InvokeAsync("SupplierInfo", new { applicantId = Model.ApplicantId })
            </div>
        }
    </form>
</abp-row>
<abp-row class="px-1 pb-2 mb-4 summary-container">
    <h6 class="ps-2 mb-3 fw-bold">@L["Summary:ContactsTitle"].Value</h6>
    <div id="applicationContactsWidget">
        @await Component.InvokeAsync("ApplicationContactsWidget", new { applicationId = Model.ApplicationId })
    </div>
  
        <div class="d-flex justify-content-end">
            <abp-button text="Add Contact"
                        id="AddContactButton"
                        class="add_contact_btn"
                        icon-type="Other"
                        icon="fl fl-plus"
                        button-type="Light" />
        </div>
    
</abp-row>
<script defer>
    (function () {
        if (window.jQuery) {
            $('.unity-currency-input').maskMoney();
        }
    })();
</script>
