@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Unity.GrantManager.History
@using Unity.GrantManager.Localization
@using Unity.GrantManager.Web.Views.Shared.Components.HistoryWidget
@using Unity.Modules.Shared.Utils

@model HistoryWidgetViewModel

@inject IHtmlLocalizer<GrantManagerResource> L
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    Layout = null;
}
<div id="application-history-div" class="mb-2 mt-4 card border">
    <div id="card-header-div" class="card-header bg-default"> 
        <h4 class="mb-0 card-title">Application Status History</h4> 
    </div> 
    <div id="expanded-div" ref="tab-tabs" class="card-body" style="display: block;">
        <div id="history-div" class="mt-2 history-container">
            <input id="historyLength" type="hidden" value="@Model.ApplicationStatusHistoryList?.Count"/>
            @if(@Model.ApplicationStatusHistoryList == null || @Model.ApplicationStatusHistoryList?.Count == 0)
            {
                <div class="mb-2 history-read-mode">
                    <div class="unity-history-block read-mode">
                        No History Found
                    </div>
                </div>
            }

            @foreach (HistoryDto historyDto in Model.ApplicationStatusHistoryList ?? Enumerable.Empty<HistoryDto>())
            {
                <div class="mb-2 history-read-mode">
                    <div class="unity-history-block read-mode">
                        <div class="d-flex justify-content-between">
                            <div class="fw-bold history-name">
                                @historyDto?.UserName
                            </div>
                        </div>
                        @if (historyDto?.PropertyName == HistoryWidgetViewComponent.Property_ApplicationStatusId)
                        {
                        <div class="history-lbl">
                            Status changed 
                            @if (!string.IsNullOrEmpty(historyDto?.OriginalValue))
                            {
                                <text>from <span class="status-change">@historyDto?.OriginalValue</span></text>
                            }
                            to <span class="status-change">@historyDto?.NewValue</span>
                        </div>
                        }
                        @if (historyDto?.PropertyName == HistoryWidgetViewComponent.Property_ExternalStatusVisibility)
                        {
                        <div class="history-lbl">
                            External Status Visibility changed to <span class="status-change">@(bool.TryParse(historyDto?.NewValue, out bool newValue) && newValue ? "Published" : "Unpublished")</span>
                        </div>
                        }
                        <time datetime="@DateTimeExtensions.FormatTimestamp(historyDto?.ChangeTime)" class="history-time mt-3 fw-bold">
                            @DateTimeExtensions.FormatPacificTime(historyDto?.ChangeTime)
                        </time>
                    </div>
                </div>
            }
        </div>
    </div> 
</div>
