@page
@using Microsoft.Extensions.Localization
@using Unity.Payments.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model Unity.Payments.Web.SiteInfo.SiteInfoModal.SiteInfoModalModel

@inject IStringLocalizer<PaymentsResource> L

@{
    Layout = null;
}
<form method="post" asp-page-handler="OnPostAsync" id="siteInfo">
    <abp-input type="hidden" id="SiteId" asp-for="@Model.Site.Id" />
    <abp-input type="hidden" id="ActionType" asp-for="@Model.Site.ActionType" />
    <abp-input type="hidden" id="SupplierNumber" asp-for="@Model.Site.SupplierNumber" />
    <abp-input type="hidden" id="ApplicantId" asp-for="@Model.Site.ApplicantId" />   
    <abp-input type="hidden" id="SupplierId" asp-for="@Model.Site.SupplierId" />
    <abp-modal size="Large" id="site-info-modal">
        <abp-modal-header class="site-info-modal-header" title="@Model.Site.ActionType"></abp-modal-header>
        <abp-modal-body>
            <abp-row class="m-0 p-0">
                <abp-column size="_6" class="px-1">
                    <abp-input asp-for="@Model.Site.SiteNumber" onchange="enableSaveBtn(this)" />
                </abp-column>
                <abp-column size="_6" class="px-1">
                    <abp-select asp-for="@Model.Site.PayGroup" asp-items="@Model.PayGroupOptionsList" id="payGroup"
                                onchange="enableProjectInfoSaveBtn(this)">
                    </abp-select>
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Site.AddressLine1" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Site.AddressLine2" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_12" class="px-1">
                    <abp-input asp-for="@Model.Site.AddressLine3" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_6" class="px-1">
                    <abp-input asp-for="@Model.Site.City" onchange="enableSaveBtn(this)" />
                </abp-column>            
                <abp-column size="_6" class="px-1">
                    <abp-input asp-for="@Model.Site.Province" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
            <abp-row class="m-0 p-0">
                <abp-column size="_6" class="px-1">
                    <abp-input asp-for="@Model.Site.PostalCode" onchange="enableSaveBtn(this)" />
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn btn-primary" data-busy-text="Saving..." type="submit">Save</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        </abp-modal-footer>
    </abp-modal>
</form>
